<template>
  <div id="terminal" :class="[pos, (isShow ? 'show' : 'hide')]" :style="tStyle">

    <header v-if="isShow">
      <div class="top-block">
        <div class="title">
          <div class="title-label">Terminal</div>
        </div>
        <div class="button-panel">
          <div class="button default" @click="setPos('default')" v-if="pos !== 'default'"><i></i></div>
          <div class="button bottomsidebar" @click="setPos('bottomsidebar')" v-if="pos !== 'bottomsidebar'"><i></i>
          </div>
          <div class="button fullscreen" @click="setPos('fullscreen')" v-if="pos !== 'fullscreen'"><i></i></div>
          <div class="button closebutt" @click="hide()"><i></i></div>
        </div>
      </div>
    </header>

    <b-tabs card small v-if="isShow">
      <b-tab v-for="(T,idx) in list" :key="idx">
        <template slot="title">
          {{T.title}}
          <button type="button" class="close" aria-label="Close" @click="onClose(idx)">
            <span aria-hidden="true">&times;</span>
          </button>
        </template>

        <Window :item="T" :index="idx"/>
      </b-tab>
    </b-tabs>

    <div class="runner-terminal" @click="show()" v-if="!isShow">
      <div class="runTerm">
        <div class="icon-term" :class="{runned: list.length > 0}"></div>
        <div class="title-term">Terminal</div>
      </div>
    </div>
  </div>
</template>

<script>
  import Window from './Window';

  export default {
    data() {
      return {
        isShow: true,
        pos: 'default',
        style: {
          // top: 30,
          // left: 30,
          // width: 250,
          // height: 250
        },
        list: []
      }
    },
    computed: {
      tStyle() {
        return Object.assign(this.style, {
          // top: `${this.style.top}px`,
          // left: `${this.style.left}px`,
          // width: `${this.style.width}px`,
          // height: `${this.style.height}px`,
          'z-index': 9999
        });
      }
    },
    mounted() {
      this.$root.$on('terminal::open', this.add);
      this.add({id: 0});
    },
    methods: {
      show() {
        this.isShow = true;
      },
      hide() {
        this.isShow = false;
      },
      add(item) {
        let num = this.list.length === 0 ? 1 : this.list.length + 1;
        this.list.push({
          id: item.id,
          title: item.name || `Terminal #${num}`
        });
      },
      setPos(pos) {
        this.pos = pos;
      },
      renameTab(idx, title) {
        this.list[idx].title = title;
      },
      onClose(idx) {
        let item = this.list[idx];
        this.$API.Ssh.closeTerminal(item.id).then(() => {
          this.list.splice(idx, 1);
        });
      }
    },
    components: {
      Window
    }
  }
</script>

<style scoped>
  #terminal {
    position: fixed !important;
    transition: none !important;
  }

  #terminal.show {
    height: 250px;
    width: 350px;
    min-height: 250px;
    min-width: 350px;
    bottom: 50px;
    left: 30px;
    border-radius: 3px;
    background-color: #eff3f6;
    transition-duration: .15s;
    transition-property: 'all';
    transition-timing-function: ease;
    transition-delay: 0;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .75);
  }

  #terminal.fullscreen {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    position: fixed !important
  }

  #terminal.bottomsidebar {
    bottom: 0;
    width: 100% !important;
    height: 35% !important;
    top: unset !important;
    left: 0 !important;
    position: fixed !important
  }

  header {
    width: 100%;
    height: 22px;
    background-color: #eff3f6;
  }

  header .title {
    width: 80%;
    height: 100%;
    float: left;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
  }

  .title-label {
    margin-left: 15px
  }

  header .button-panel {
    width: 60px;
    height: 100%;
    float: right
  }

  header .button-panel .button {
    width: 10px;
    float: left;
    height: 100%;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 22px
  }

  .button-panel .button i {
    height: 10px;
    width: 10px;
    display: block;
    background-size: 10px 9px;
    margin-top: 6.5px;
    background-repeat: no-repeat
  }

  .button-panel .button i:before {
    content: "";
    width: 10px;
    height: 9px
  }

  .button-panel .button i:hover {
    cursor: pointer
  }

  .button-panel .button.default i {
    background-image: url(~/assets/img/minimise.png)
  }

  .button-panel .button.fullscreen i {
    background-image: url(~/assets/img/fullscreen.png)
  }

  .button-panel .button.closebutt i {
    background-image: url(~/assets/img/close.png)
  }

  .button-panel .button.bottomsidebar i {
    background-image: url(~/assets/img/console.png)
  }

  .runner-terminal {
    position: fixed;
    bottom: 0;
    left: 5px;
  }

  .runner-terminal .runTerm {
    text-align: center;
    font-size: 22px;
    width: 122px;
    height: 28px;
    color: #fff;
    background-color: #585858;
    opacity: .9;
    line-height: 40px;
    z-index: 100;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition-property: "margin";
    transition-duration: .15s;
    transition-property: "opacity";
    transition-timing-function: ease;
    transition-delay: 0;
  }

  .runner-terminal .runTerm:hover {
    cursor: pointer;
    height: 32px;
    opacity: 1;
  }

  .runner-terminal .runTerm.hidden {
    display: none !important;
  }

  .runner-terminal .runTerm .icon-term {
    width: 13px;
    height: 12px;
    position: absolute;
    top: 9px;
    float: left;
    left: 9px;
    transition-duration: .15s;
    transition-property: "margin";
    transition-timing-function: ease;
    transition-delay: 0;
    background-size: 13px 12px;
    background-repeat: no-repeat;
    background-image: url(~/assets/img/terminal.png)
  }

  .runner-terminal .runTerm .icon-term.runned {
    background-image: url(~/assets/img/terminal_on.png)
  }

  .runner-terminal .runTerm .title-term {
    transition-duration: .15s;
    transition-property: "margin";
    transition-timing-function: ease;
    transition-delay: 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    top: 8px;
    left: 30px;
    position: absolute;
  }

  .close {
    font-size: 15px;
    margin-left: 5px;
  }

  .close:focus {
    outline: none;
  }

</style>

<style>
  #terminal .card-header {
    padding: 3px 12px 10px;
  }

  #terminal .card-body {
    padding: 2px;
  }

  #terminal .tab-content {
    height: calc(100% - 55px);
  }

  #terminal .card-header:focus {
    outline: none;
  }

  #terminal .nav-tabs .nav-link {
    padding: 3px 5px;
  }
</style>
