<template>
  <div class="main-content">
    dfgsdfg
  </div>
</template>

<script>
  export default {
    props: {
      index: {type: Number},
      item: {type: Object}
    },
    data() {
      return {}
    },
    methods: {}
  }
</script>

<style scoped>
  .main-content {
    padding: 5px;
    min-height: 185px;
    border-radius: 2px;
    height: calc(100% - 68px);
    font-family: "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace;
    font-size: 12px;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    color: rgb(240, 240, 240);
    overflow-y: scroll;
    overflow-x: hidden;
    outline: none !important;
    color: rgb(240, 240, 240);
    background-color: rgb(16, 16, 16);
  }

  .main-content * {
    outline: none !important;
  }
</style>
