<template>
  <div class="left-sidebar">

    <div class="top-list">
      <ul class="w-80">
        <li v-for="(L,idx) in top" :key="idx">
          <help :target="`ts-${idx}`" placement="right" :content="L.title">
            <nuxt-link :to="L.link" :id="`ts-${idx}`" slot="ico" v-if="L.link" exact>
              <i :class="[L.ico]" v-if="L.ico"></i>
            </nuxt-link>
          </help>
        </li>
      </ul>
    </div>

    <div class="left-sidebar-wrapper">
      <!--v-bar="scrollSettings"-->

      <ul class="sidebar-elements">
        <menu-item v-for="(L,idx) in menuList" :key="idx" :item="L" :num="idx"></menu-item>
      </ul>

    </div>

    <div class="clearfix"></div>
    <div class="bottom-list">
      <ul class="w-100">
        <li v-for="(L,idx) in bottom" :key="idx">
          <b-button size="sm" @click="onOpenBrowser(L)" class="w-100">
            {{L.title}}
          </b-button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  // http://themes.getbootstrap.com/preview/?theme_id=1696
  import MenuItem from './menu-item';

  const {shell} = require('electron');

  export default {
    data() {
      return {
        tabIdx: 0,
        scrollSettings: {
          preventParentScroll: true,
          scrollThrottle: 30
        },
        top: [
          {link: '/', ico: 'fa fa-home', title: 'Главная'},
          {link: '/setting', ico: 'fa fa-cog', title: 'Настройки'}
          // ,
          // {link: '/pm2', ico: 'pm2-icon', title: 'PM2'}
        ],
        bottom: [
          {link: 'https://yasobe.ru/na/openserver_panel', ico: '', title: 'Поблагодарить автора'},
          {link: 'https://trello.com/b/w0FtHS6c', ico: '', title: 'Прогресс развития'}
        ],
        list: [
          {link: '/domains', ico: 'fa fa-globe', title: 'Домены'},
          {link: '/mysql', ico: 'icon-mysql-alt', title: 'MySQL'},
          {link: '/logs', ico: 'fa fa-edit', title: 'Логи'},
          {link: '/ftp', ico: 'fa fa-folder-open', title: 'FTP'},
          {link: '/crontab', ico: 'fa fa-clock-o', title: 'Планировщик'},
          {link: '/backups', ico: 'fa fa-archive', title: 'Бэкапы'},
          {link: '/email', ico: 'fa fa-envelope', title: 'Email'},
          // {link: '/terminal', ico: 'fa fa-terminal', title: 'Терминал'},
          // {link: '/proxy', ico: 'fa fa-random', title: 'Proxy'},
          {link: '/ssh', ico: 'fa fa-terminal', title: 'SSH'},
          {link: '/ssl', ico: 'fa fa-certificate', title: 'SSL'},
          // {link: '/dns', ico: 'fa fa-server', title: 'DNS'},
          // {link: '/vds', ico: 'fa fa-television', title: 'VDS'},
          {link: '/proxy-server', ico: 'fa fa-filter', title: 'Proxy'}
        ]
      }
    },
    computed: {
      menuList() {
        switch (this.tabIdx) {
          default:
            return this.list;
        }
      }
    },
    methods: {
      onOpenBrowser(item) {
        shell.openExternal(item.link);
      }
    },
    components: {
      MenuItem
    }
  }
</script>

<style scoped>
  .bottom-list {
    position: fixed;
    bottom: 5px;
    left: 10px;
    width: 180px;
  }

  .bottom-list ul {
    margin: 0;
    padding: 0;
  }

  .bottom-list li {
    margin-bottom: 5px;
  }

  .left-sidebar {
    display: block;
    width: 200px;
    background-color: #f5f5f5;
    left: 0;
    position: absolute;
    border-right: 1px solid #e3e3e3;
    padding-top: 10px;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
  }

  .left-sidebar a {
    color: #4285f4;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .left-sidebar-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }

  .left-sidebar-spacer {
    display: table-row;
    height: 100%;
  }

  .sidebar-elements {
    margin: 0;
    padding: 0;
    line-height: 16px;
  }

  .ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
  }

  .left-sidebar-scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  w-80 {
    widows: 80% !important;
  }

  .top-list {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .top-list ul {
    list-style: none;
    margin: auto;
    padding: 0 0 0 2px;
    border: 1px solid #ccc;
    display: block;
    width: 85%;
    border-radius: 3px;
    box-shadow: 0.1em 0.1em 0.3em #b1a9a9;
  }

  .top-list li {
    display: inline-block;
    width: 24px;
    text-align: center;
  }

  .top-list li a {
    color: #646464 !important;
  }

  .top-list a, .top-list a:hover {
    text-decoration: none;
  }

</style>

<style>
  .pm2-icon:before {
    content: "\2630";
    /*top: 3px;*/
  }
</style>
