<template>
  <div class="wrap">

    С помощью этого мастера возможно без каких-либо специальных знаний поставить ваш скрипт на выполнение.
    <div class="clearfix top-10"></div>

    <b-row>
      <b-col cols="4">
        <Select :options="typeList" v-model="edit.type" class="w-100"></Select>
      </b-col>
      <b-col>
        <b-form-input v-model="edit.cmd"></b-form-input>

        <b-form-textarea v-model="edit.comment" :rows="2" placeholder="Описание задания"
                         class="top-10"></b-form-textarea>
      </b-col>
    </b-row>


    <div class="clearfix top-25"></div>
    <h6>Команда будет выполняться:</h6>

    <b-row>
      <b-col>
        <ItemTime type="minutes" class="w-100" v-model="edit.time.minutes"></ItemTime>
        <ItemTime type="day_of_month" class="w-100" v-model="edit.time.days"></ItemTime>
        <ItemTime type="day_of_week" class="w-100" v-model="edit.time.week"></ItemTime>
      </b-col>
      <b-col>
        <ItemTime type="hours" class="w-100" v-model="edit.time.hours"></ItemTime>
        <ItemTime type="month" class="w-100" v-model="edit.time.months"></ItemTime>
      </b-col>
    </b-row>

    <div class="cleearfix top-15"></div>
    <b-button size="sm" variant="success" @click="onSave()">Сохранить</b-button>

  </div>
</template>

<script>
  import Select from '~/components/s-select';
  import ItemTime from './item-time';
  import {extend} from '~/plugins/libs';

  const cronItem = {
    cmd: '',
    type: 'custom',
    comment: '',
    time: {
      minutes: '*',
      hours: '*',
      days: '*',
      months: '*', // месяцы
      week: '*' // дни недели
    },
    genetated: '',
    active: true
  };

  export default {
    data() {
      return {
        edit: Object.assign({}, cronItem)
      }
    },
    computed: {
      typeList() {
        return [
          {value: 'custom', label: 'Произвольная команда'},
          {value: 'php', label: 'PHP скрипт'}
          // ,
          // {value: 'http', label: 'Запрос по протоколу HTTP'},
          // {value: 'https', label: 'Запрос по протоколу HTTPS'}
        ]
      }
    },
    mounted() {
      this.$root.$on('cron:edit', data => {
        this.edit = data;
      });
    },
    methods: {
      onSave() {
        if (String(this.edit.cmd).length === 0) {
          this.$notify('error', 'Укажите клманду для авполнения');
          return false;
        }
        this.$root.$emit('cron:item:close');
        this.$ipc.once('cron:save:ok', () => {
          this.edit = extend({}, cronItem, true);
          this.$root.$emit('cron:save');
        });
        this.edit.genetated = [
          this.edit.time.minutes,
          this.edit.time.hours,
          this.edit.time.days,
          this.edit.time.months,
          this.edit.time.week
        ].join(' ');
        this.$ipc.send('cron:save', JSON.stringify(this.edit));
      }
    },
    components: {
      Select,
      ItemTime
    }
  }
</script>

<style scoped>
  .wrap {
    width: 790px;
    min-height: 20px;
    padding: 10px 15px;
    /*background-color: #eff3f6;*/
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
  }
</style>
