<template>
  <div class="dropdown-form">
    <div class="dropdown-container">
      <span class="btn-control cursor_pointer" @click="onShow()">{{title}}</span>

      <ul class="dropdown-form-container" v-show="isShow" v-if="isMinutes">
        <b-form-radio-group v-model="radio" :name="type">
          <li class="variant">
            <b-form-radio value="every"></b-form-radio>
            <label>Каждую минуту</label>
          </li>
          <li class="variant">
            <b-form-radio value="each"></b-form-radio>
            <label>Каждую&nbsp;
              <b-form-input class="form-control js-each-period" v-model="valueEach"></b-form-input>&nbsp;-ю минуту
            </label>
          </li>
          <li class="variant">
            <b-form-radio value="input"></b-form-radio>
            <label>В указанные минуты</label>
            <b-form-input class="form-control control-values js-each-period"
                          placeholder="Например 2,6,10 или 1-10"
                          v-model="valueInput"></b-form-input>
            <p class="help" v-html="help"></p>
          </li>
        </b-form-radio-group>
      </ul>

      <ul class="dropdown-form-container" v-show="isShow" v-if="isHours">
        <b-form-radio-group v-model="radio" :name="type">
          <li class="variant">
            <b-form-radio value="every"></b-form-radio>
            <label>Каждый час</label>
          </li>
          <li class="variant">
            <b-form-radio value="each"></b-form-radio>
            <label>Каждый&nbsp;
              <b-form-input class="form-control js-each-period" v-model="valueEach"></b-form-input>&nbsp;-й час
            </label>
          </li>
          <li class="variant">
            <b-form-radio value="input"></b-form-radio>
            <label>В указанные часы</label>
            <b-form-input class="form-control control-values js-each-period"
                          placeholder="Например 2,6,10 или 1-10"
                          v-model="valueInput"></b-form-input>
            <p class="help" v-html="help"></p>
          </li>
        </b-form-radio-group>
      </ul>

      <ul class="dropdown-form-container" v-show="isShow" v-if="isDayOfMonth">
        <b-form-radio-group v-model="radio" :name="type">
          <li class="variant">
            <b-form-radio value="every"></b-form-radio>
            <label>Каждый день</label>
          </li>
          <li class="variant">
            <b-form-radio value="each"></b-form-radio>
            <label>Каждый&nbsp;
              <b-form-input class="form-control js-each-period" v-model="valueEach"></b-form-input>&nbsp;-й день
            </label>
          </li>
          <li class="variant">
            <b-form-radio value="input"></b-form-radio>
            <label>В указанные дни</label>
            <b-form-input class="form-control control-values js-each-period"
                          placeholder="Например 2,6,10 или 1-10"
                          v-model="valueInput"></b-form-input>
            <p class="help" v-html="help"></p>
          </li>
        </b-form-radio-group>
      </ul>

      <ul class="dropdown-form-container" v-show="isShow" v-if="isMonth">
        <b-form-radio-group v-model="radio" :name="type">
          <li class="variant">
            <b-form-radio value="every"></b-form-radio>
            <label>Каждый месяц</label>
          </li>
          <li class="variant">
            <b-form-radio value="each"></b-form-radio>
            <label>Каждый&nbsp;
              <b-form-input class="form-control js-each-period" v-model="valueEach"></b-form-input>&nbsp;-й месяц
            </label>
          </li>
          <li class="variant">
            <b-form-radio value="input"></b-form-radio>
            <label>В указанные месяцы</label>
            <b-form-checkbox-group class="each-list month top-10" buttons v-model="monthList"
                                   :options="monthEachList"></b-form-checkbox-group>
          </li>
        </b-form-radio-group>
      </ul>

      <ul class="dropdown-form-container" v-show="isShow" v-if="isDayOfWeek">
        <b-form-radio-group v-model="radio" :name="type">
          <li class="variant">
            <b-form-radio value="every"></b-form-radio>
            <label>В любой день недели</label>
          </li>
          <li class="variant">
            <b-form-radio value="input"></b-form-radio>
            <label>В указанные дни</label>
            <b-form-checkbox-group class="each-list top-10" buttons v-model="daysList"
                                   :options="daysEachList"></b-form-checkbox-group>
          </li>
        </b-form-radio-group>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      type: {
        type: String
      },
      value: {
        type: String,
        default: '*'
      }
    },
    data() {
      return {
        isShow: false,
        radio: 'every',
        help: '',
        valueEvery: '*',
        valueEach: '1', // */1
        valueInput: '1',
        monthList: [],
        daysList: []
      }
    },
    watch: {
      radio() {
        this.valueChange()
      },
      valueEach: {
        immediate: true,
        handler: 'valueChange'
      },
      valueInput: {
        immediate: true,
        handler: 'valueChange'
      },
      monthList: {
        immediate: true,
        handler: 'valueChange'
      },
      daysList: {
        immediate: true,
        handler: 'valueChange'
      }
    },
    computed: {
      isMinutes() {
        return this.type === 'minutes';
      },
      isHours() {
        this.help = `Точно задать значения можно через запятую.<br> Диапазон задается через дефис.`;
        return this.type === 'hours';
      },
      isDayOfMonth() {
        return this.type === 'day_of_month';
      },
      isMonth() {
        return this.type === 'month';
      },
      isDayOfWeek() {
        return this.type === 'day_of_week';
      },
      monthEachList() {
        return [
          {value: 1, text: 'янв.'},
          {value: 2, text: 'фев.'},
          {value: 3, text: 'мар.'},
          {value: 4, text: 'апр.'},
          {value: 5, text: 'май'},
          {value: 6, text: 'июнь'},
          {value: 7, text: 'июль'},
          {value: 8, text: 'авг.'},
          {value: 9, text: 'сен.'},
          {value: 10, text: 'окт.'},
          {value: 11, text: 'ноя.'},
          {value: 12, text: 'дек.'}
        ];
      },
      daysEachList() {
        return [
          {value: 1, text: 'Пн.'},
          {value: 2, text: 'Вт.'},
          {value: 3, text: 'Ср.'},
          {value: 4, text: 'Чт.'},
          {value: 5, text: 'Пт.'},
          {value: 6, text: 'Сб.'},
          {value: 7, text: 'Вс.'}
        ];
      },
      title() {
        this.valueChange();
        if (this.isMinutes) {
          this.help = `Точно задать значения можно через запятую.<br>Диапазон задается через дефис.`;
          if (this.radio === 'each') {
            return `Каждые ${this.valueEach} минут`;
          }
          return 'Каждую минуту';
        }
        if (this.isHours) {
          this.help = `Точно задать значения можно через запятую.<br> Диапазон задается через дефис.`;
          return 'Каждый час';
        }
        if (this.isDayOfMonth) {
          this.help = `Точно задать значения можно через запятую.<br> Диапазон задается через дефис.`;
          return 'Каждый день';
        }
        if (this.isMonth) {
          return 'Каждый месяц';
        }
        if (this.isDayOfWeek) {
          return 'В любой день недели';
        }
      }
    },
    mounted() {
      this.parse();
      this.$root.$on('cron:item:close', (type) => {
        if (this.type !== type) {
          this.isShow = false;
        }
      });
    },
    methods: {
      parse() {
        if (this.isDayOfWeek && String(this.value).includes(',')) {
          this.daysList = String(this.value).split(',');
          this.radio = 'input';
        } else if (this.isMonth && String(this.value).includes(',')) {
          this.monthList = String(this.value).split(',');
          this.radio = 'input';
        } else if (this.value !== '*') {
          this.radio = 'each';
        }
      },
      onShow() {
        this.isShow = !this.isShow;
        this.$root.$emit('cron:item:close', this.type);
      },
      valueChange(val) {
        switch (this.radio) {
          case 'every':
            this.$emit('input', this.valueEvery);
            break;
          case 'each':
            this.$emit('input', `*/${String(val || this.valueEach).replace(/D+/g, '')}`);
            break;
          case 'input':
            if (this.isDayOfWeek) {
              this.$emit('input', val ? val.join(',') : this.daysList.length === 0 ? '*' : this.daysList.join(','));
            } else if (this.isMonth) {
              this.$emit('input', val ? val.join(',') : this.monthList.length === 0 ? '*' : this.monthList.join(','));
            } else {
              this.$emit('input', String(val || this.valueInput));
            }
            break;
        }
      }
    },
    destroyed() {
      this.$root.$off('cron:item:close');
    }
  }
</script>

<style scoped>

  ol, ul {
    margin-top: 0;
    margin-bottom: 11px;
  }

  .dropdown-form {
    height: 30px;
    position: relative;
    margin-bottom: 10px;
  }

  .dropdown-form .dropdown-container {
    transition-duration: .15s;
    transition-property: "height";
    transition-timing-function: ease;
    transition-delay: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .34), inset 0 -2px 0 hsla(210, 5%, 84%, .43);
    border-bottom: 0 solid #c5c5c5;
  }

  .dropdown-form .dropdown-container .btn-control {
    display: block;
    padding: 5px 25px;
    text-align: center;
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .dropdown-form .dropdown-container .dropdown-form-container {
    /*display: none;*/
    text-align: left;
    position: relative;
    padding: 0;
    z-index: 1;
    margin: 0;
    background-color: #fff;
  }

  .dropdown-form .dropdown-container .dropdown-form-container li {
    display: block;
    list-style: none;
    padding: 5px 12px;
    cursor: pointer;
  }

  .dropdown-form .dropdown-container .dropdown-form-container li .form-control[type=radio] + label input.form-control,
  .js-each-period {
    display: inline-block !important;
    width: 50px;
    padding: 1px 5px;
    text-align: center;
    font-size: 14px;
  }

  .dropdown-form .dropdown-container .dropdown-form-container li .form-control[type=radio] + label input.form-control.control-values,
  .js-each-period.control-values {
    display: block !important;
    width: 180px;
    text-align: left;
    margin: 0 0 0 35px;
    font-size: 14px;
  }

  .dropdown-form .dropdown-container .dropdown-form-container li p.help {
    margin: 10px 0 0 !important;
    padding: 2px 25px;
    font-size: 12px;
    color: #a5afb6;
  }

  .form-control {
    display: block;
    background-color: #fff;
    color: #252525;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
    font-size: 16px;
    height: 25px;
    padding: 0 10px;
    position: relative;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .form-control[type=radio] {
    /*opacity: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    position: absolute;
    -webkit-appearance: none;
  }

  .form-control[type=radio] + label {
    padding-left: 22px;
    min-height: 22px;
    min-width: 1px;
    margin-bottom: 0;
    line-height: 22px;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
  }

  .form-control[type=radio] + label:before {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
  }

  input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
  }

  .js-each-period {
    font-size: 14px !important;
  }

  .custom-radio {
    top: 7px;
    left: 6px;
  }

  .help, p.help {
    margin: 0 !important;
    font-size: 14px;
    color: #a1a1a1;
  }
</style>

<style>
  .each-list {
    position: relative;
    margin-left: 35px;
  }

  .each-list:not(.month) {
  }

  .each-list.month {
    width: 305px;
    display: block;
  }

  .each-list label,
  .each-list .btn {
    padding: 2px 8px;
  }

  .each-list.month .btn {
    padding: 2px 8px;
    width: 46px;
  }

  .each-list.month .btn:nth-child(1) {
    border-bottom-left-radius: 0;
  }

  .each-list.month .btn:nth-child(6) {
    border-top-right-radius: 3.5px;
  }

  .each-list.month .btn:nth-child(7) {
    margin-left: 0;
    border-bottom-left-radius: 3.5px;
  }

  .each-list.month .btn:nth-child(7),
  .each-list.month .btn:nth-child(8),
  .each-list.month .btn:nth-child(9),
  .each-list.month .btn:nth-child(10),
  .each-list.month .btn:nth-child(11),
  .each-list.month .btn:nth-child(12) {
    border-top: none;
  }

  .each-list .active,
  .each-list span:hover {
    background: #e1e8ed !important;
  }
</style>
