<template>
  <div>
    <b-button size="sm" @click="$emit('getList')">
      <i class="fa fa-refresh"></i> Обновить список
    </b-button>

    <b-table striped hover :items="list" :fields="fields" class="top-15">

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">
          <b-button size="sm" @click.stop="data.toggleDetails">По датам</b-button>
        </div>
      </template>

      <template slot="row-details" slot-scope="row">
        <div>
          <b-list-group>
            <b-list-group-item v-for="(v,idx) in row.item.dates" :key="idx" class="arch-item">
              <span class="date">{{v.date}}</span>

              <span class="actions text-right">
                    <help :target="`rs-${idx}`" placement="top" content="Восстановить бэкап">
                      <b-button size="sm"
                                :id="`rs-${idx}`" slot="ico"
                                @click="$emit('restore', row.item.name, v.file, type)">
                        <i class="fa fa-undo"></i>
                      </b-button>
                    </help>

                    <b-button size="sm" variant="danger" class="left-5" @click="$emit('remove', v.file)">
                      <i class="fa fa-trash"></i>
                    </b-button>
                  </span>
            </b-list-group-item>
          </b-list-group>
        </div>
      </template>

    </b-table>
  </div>
</template>

<script>
  export default {
    props: {
      list: {type: Array},
      fields: {type: Object},
      type: {type: String}
    },
    methods: {}
  }
</script>

<style scoped>
  .arch-item {
    position: relative;
  }

  .actions.text-right {
    float: right;
  }
</style>
