<template>
  <div></div>
</template>

<script>
  import ProgressBar from 'progressbar.js';

  export default {
    props: {
      valueData: {
        type: Object,
        default: {}
      },
      num: {
        type: Number,
        default: 1
      }
    },
    data() {
      return {
        bar: null
      }
    },
    watch: {
      valueData(val) {
        if (this.bar) {
          this.bar.animate(val.use / 100);
        }
      }
    },
    mounted() {
      setTimeout(() => {
        this.bar = new ProgressBar.Circle(this.$el, {
          strokeWidth: 10,
          easing: 'easeInOut',
          duration: 300,

          // trailColor: '#eee',
          trailWidth: 2,

          svgStyle: {width: '100%', height: '100%'},
          text: {
            style: {
              // Text color.
              // Default: same as stroke color (options.color)
              color: '#999',
              position: 'absolute',
              left: 0,
              top: '25px',
              width: '100%',
              'text-align': 'center',
              padding: 0,
              margin: 0,
              transform: null
            },
            autoStyleContainer: false
          },
          from: {color: '#02C13E'},
          to: {color: '#F00'},
          step: (state, bar) => {
            if (bar.hasOwnProperty('path')) {
              bar.path.setAttribute('stroke', state.color);
            }
            bar.setText(this.setText(bar.value() * 100));
          }
        });

        if (this.bar) {
          this.bar.animate(this.valueData.use);
        }
      }, 200);
    },
    methods: {
      setText(val) {
        val = val.toFixed(2);
        return `<div class="value">${val} %</div><div class="num">CPU ${this.num}</div>`;
      }
    }
  }
</script>

<style scoped>
  div {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
  }
</style>
