<template>
  <div>
    <ul>
      <li v-for="(L,idx) in list" :class="['type', `line-${L.type}`]" :key="idx">
        <b-badge :variant="getType(L.type)" v-if="L.type">{{L.type}}</b-badge>
        {{L.line}}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: {
      channel: {type: String}
    },
    data() {
      return {
        list: []
      }
    },
    mounted() {
      this.$root.$on('log::refresh', this.refresh);
    },
    methods: {
      refresh() {
        this.list = this.$store.state.logState[this.channel];
      },
      getType(type) {
        let t = 'secondary';
        switch (type) {
          case 'error':
          case 'fatal':
            t = 'danger';
            break;
          case 'notice':
            t = 'primary';
            break;
          case 'debug':
            t = 'dark';
            break;
          case 'warn':
          case 'warning':
            t = 'warning';
            break;
          case 'trace':
            t = 'light';
            break;
          case 'info':
            t = type;
            break;
        }
        return t;
      }
    }
  }
</script>

<style scoped>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 2px;
  }
</style>
