<template>
  <div></div>
</template>

<script>
  import ProgressBar from 'progressbar.js';

  export default {
    props: {
      value: {
        type: Number,
        default: 0
      },

      color: {
        type: String,
        default: '#656565'
      }
    },
    data() {
      return {
        bar: null
      }
    },
    watch: {
      value(val) {
        if (this.bar) {
          this.bar.animate(val / 100);
        }
      }
    },
    mounted() {
      setTimeout(() => {
        this.bar = new ProgressBar.Line(this.$el, {
          strokeWidth: 4,
          easing: 'easeInOut',
          duration: 300,
          color: this.color,
          trailColor: '#eee',
          trailWidth: 1,
          svgStyle: {width: '100%', height: '100%'},
          text: {
            style: {
              color: '#656565',
              position: 'absolute',
              right: '10px',
              top: '-14px',
              padding: 0,
              margin: 0,
              transform: null
            },
            autoStyleContainer: false
          },
          from: {color: '#02C13E'},
          to: {color: '#F00'},
          step: (state, bar) => {
            if (bar.hasOwnProperty('path')) {
              bar.path.setAttribute('stroke', state.color);
            }
            bar.setText(Number(parseFloat(bar.value() * 100).toFixed(2)) + ' %');
          }
        });

        if (this.bar) {
          this.bar.animate(this.value / 100);
        }
      }, 200);
    }
  }
</script>

<style scoped>
  div {
    position: relative;
  }
</style>
