<template>
  <div>
    <b-form-group>
      <small>Название</small>
      <b-form-input size="sm" v-model="app.name"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>Скрипт</small>
      <b-form-input size="sm" v-model="app.script"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>Рабочий каталог</small>
      <b-form-input size="sm" v-model="app.cwd"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>PID файл</small>
      <b-form-input size="sm" v-model="app.pid_file"></b-form-input>
    </b-form-group>


    <b-row>
      <b-col>
        <b-form-group>
          <small>Интерпритатор</small>
          <Select v-model="app.interpreter" :options="interpreterList"></Select>
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group>
          <small>Режим</small>
          <Select v-model="app.exec_mode" :options="execModes"></Select>
        </b-form-group>

        <b-form-group v-if="app.exec_mode === 'cluster'">
          <small>Кол-во инстансов</small>
          <b-form-input size="sm" v-model="app.instances"></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>

    <b-tabs>
      <b-tab title="args"></b-tab>
      <b-tab title="node_args"></b-tab>
      <b-tab title="env"></b-tab>
    </b-tabs>

    <b-form-group class="top-15">
      <small>Log type</small>
      <b-form-input size="sm" v-model="app.log_type"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>Формат даты лога</small>
      <b-form-input size="sm" v-model="app.log_date_format"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>Лог вывода</small>
      <b-form-input size="sm" v-model="app.out_file"></b-form-input>
    </b-form-group>

    <b-form-group>
      <small>Лог ошибок</small>
      <b-form-input size="sm" v-model="app.error_file"></b-form-input>
    </b-form-group>

  </div>
</template>

<script>
  // https://pm2.io/doc/en/runtime/reference/ecosystem-file/
  // https://pm2.io/doc/en/runtime/guide/process-management/

  const defaultConfig = {
    name: '',
    script: '',
    cwd: '',
    interpreter: '',
    exec_mode: 'fork',
    instances: 1,
    pid_file: '',
    log_type: 'json',
    log_date_format: 'YYYY-MM-DD HH:mm Z',
    error_file: '',
    out_file: '',
    args: [],
    node_args: [],
    env: []
  };

  export default {
    data() {
      return {
        app: Object.assign({}, defaultConfig)
      }
    },
    computed: {
      interpreterList() {
        return [
          {value: '', label: 'Не указано', ext: ''},
          {value: 'bash', label: 'bash', ext: '.sh'},
          {value: 'python', label: 'python', ext: '.py'},
          {value: 'ruby', label: 'ruby', ext: '.rb'},
          {value: 'coffee', label: 'coffee', ext: '.coffee'},
          {value: 'php', label: 'php', ext: '.php'},
          {value: 'perl', label: 'perl', ext: '.pl'},
          {value: 'node', label: 'node', ext: '.js'}
        ]
      },
      execModes() {
        return [
          {value: 'fork', label: 'fork'},
          {value: 'cluster', label: 'cluster'}
        ]
      },
      pidGen() {
        return ['%TMP_DIR%', '.pm2', 'pids', `${this.app.name}.pid`].join(`\\`);
      },
      logGen() {
        return ['%TMP_DIR%', '.pm2', 'logs', this.app.name].join(`\\`);
      }
    },
    watch: {
      'app.name': {
        immediate: true,
        handler(val) {
          this.app.pid_file = this.pidGen;
          this.app.out_file = `${this.logGen}_out.log`;
          this.app.error_file = `${this.logGen}_error.log`;
        }
      },
      'app.script'(val) {
        this.interpreterList.forEach(item => {
          if (String(val).includes(item.ext)) {
            this.app.interpreter = item.value;
          }
        });
      }
    },
    methods: {
      onSave() {
        let obj = JSON.parse(JSON.stringify(this.app));
        if (obj.exec_mode === 'fork') {
          delete obj.instances;
        }

        this.$emit('addList', obj);
        this.app = Object.assign({}, defaultConfig);
      }
    }
  }
</script>

<style scoped>
</style>
