<template>
  <footer class="w-100 bg-light">

    <small>Server Panel &copy; 2016-{{year}} | version: <b>{{version}}</b></small>

    <small class="text-danger left-10 open-browser" @click="openBrowser()" v-if="isUpdate">
      Доступна новая версия <b>{{newVer}}</b>
    </small>

  </footer>
</template>

<script>
  import {version} from '~/package.json';
  import semver from 'semver';

  const {shell} = require('electron');

  export default {
    data() {
      return {
        newVer: '',
        link: 'https://yadi.sk/d/Z9ah0Sj43VmVPV'
      }
    },
    mounted() {
      this.checkUpdate();
      this.$ipc.on('check-update', (ev, data) => {
        this.newVer = data.version;
      });
    },
    methods: {
      openBrowser() {
        shell.openExternal(this.link);
      },
      checkUpdate() {
        this.$ipc.send('check-update');
        setTimeout(() => {
          this.checkUpdate();
        }, 60e3);
      }
    },
    computed: {
      isUpdate() {
        return String(this.newVer).length > 0 && semver.lt(this.version, this.newVer)
      },
      version() {
        return version;
      },
      year() {
        let now = new Date();
        return now.getFullYear();
      }
    }
  }
</script>

<style scoped>
  footer {
    position: absolute;
    bottom: 0;
    padding: 4px 10px;
    border-top: 1px solid #e6e5e5;
    z-index: 0;
  }

  .open-browser {
    cursor: pointer;
  }
</style>
