<template>
  <b-navbar type="light" variant="light" class="top-header">
    <b-navbar-brand>
      <img src="~/assets/img/logo-small-h.png">
    </b-navbar-brand>

    <!--<b-nav class="ml-auto">-->

    <!--<b-nav-item-dropdown right>-->
    <!--<template slot="button-content">-->
    <!--<em>User</em>-->
    <!--</template>-->

    <!--<b-dropdown-item href="#"><i class="fa fa-user"></i>Профиль</b-dropdown-item>-->
    <!--<b-dropdown-item href="#" @click.stop="onLogout"><i class="fa fa-sign-out"></i>Выход</b-dropdown-item>-->
    <!--</b-nav-item-dropdown>-->

    <!--<b-nav-item href="#" class="top-item" @click.stop="onLogout"><i class="fa fa-sign-out"></i></b-nav-item>-->
    <!--</b-nav>-->

    <div class="monitoring">
      <span class="cpu">
        <img src="~/assets/img/cpu.svg"/>
        <div class="left-5 text">{{cpu}}%</div>
      </span>

      <span class="ram">
        <img src="~/assets/img/ram.svg"/>
        <div class="text">{{ram}}%</div>
      </span>
    </div>

  </b-navbar>
</template>

<script>
  export default {
    data() {
      return {
        cpu: 0,
        ram: 0
      }
    },
    mounted() {
      this.$faye.subscribe('system/*', (cn, n) => {
        let channel = cn.split('/').pop();

        switch (channel) {
          case 'cpu':
            this.cpu = Number(n.total.use.toFixed(2));
            break;

          case 'memory':
            this.ram = Number(n.usePercent.toFixed(2));
            break;
        }
      });
    },
    methods: {
      onLogout() {
      }
    },
    components: {}
  }
</script>

<style scoped>
  .monitoring .text {
    width: 60px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
  }

  .top-header {
    background-color: #FFF;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e5e5;
    /*padding: 0;*/
  }

  .top-item {
    /*display: inline-block !important;*/
  }

  .top-header img {
    height: 26px;
  }
</style>
