<template>
  <div>

    <table class="table table-hover">
      <tbody>
      <tr>
        <td>
          <span v-if="isLaunch">pid: {{mainProcess.pid}} | </span>
          {{mainProcess.name}}
        </td>
        <td>
          <div class="pull-right text-right">

            <!--<b-button size="sm" @click="onStart()" v-if="!isLaunch">-->
              <!--<i class="fa fa-play"></i>-->
            <!--</b-button>-->

            <!--<b-button size="sm" class="left-5" @click="onRefresh(mainProcess)" v-else>-->
              <!--<i class="fa fa-refresh"></i>-->
            <!--</b-button>-->

            <!--<b-button size="sm" class="left-5" @click="onStop()">-->
              <!--<i class="fa fa-stop"></i>-->
            <!--</b-button>-->

          </div>
        </td>
      </tr>

      <tr v-for="P in moduleProcesses">
        <td>pid: {{P.pid}} | {{P.name}}</td>
        <td>
          <div class="pull-right text-right">
            <!--<b-button size="sm" @click="onRefresh(P)">-->
              <!--<i class="fa fa-refresh"></i>-->
            <!--</b-button>-->
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
  export default {
    props: {
      list: {
        type: Array,
        default() {
          return [];
        }
      },
      isLaunch: {
        type: Boolean,
        default: false
      },
      isParent: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      mainProcess() {
        return this.list[0] || {
          pid: 0,
          name: ''
        };
      },
      moduleProcesses() {
        let arr = [];
        this.list.forEach((item, idx) => {
          if (idx > 0) {
            arr.push(item);
          }
        });
        return arr;
      }
    },
    methods: {
      onStart() {
      },
      onStop() {
      },
      onRefresh(item) {
      }
    }
  }
</script>

<style scoped>
</style>
