<template>
  <div class="line-item">
    <div class="url">
      {{item.protocol}}://{{item.url}}
    </div>

    <div class="actions">
      <small class="right-10">{{time}}</small>
      <b-button size="sm" @click="toggleDetail()">Детали</b-button>
    </div>

    <div class="detail" ref="detail"
         @mouseenter="$emit('fd', false)"
         @mouseleave="$emit('fd', true)"
         v-show="showDetail">
      <pre>{{item}}</pre>
    </div>
  </div>
</template>

<script>
  import {Time} from '~/plugins/libs';

  export default {
    props: {
      item: {type: Object}
    },
    data() {
      return {
        showDetail: false
      }
    },
    computed: {
      time() {
        return Time.UnixFormat(Time.Unix, 'DD-MM-YYYY / h:mm:ss');
      }
    },
    methods: {
      toggleDetail() {
        this.showDetail = !this.showDetail;
      }
    }
  }
</script>

<style scoped>
  .line-item {
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 3px;
  }

  .line-item:hover .actions {
    display: block;
  }

  .actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .url {
    width: 80%;
  }
</style>
