<template>
  <div :class="{'control-item': label, required}">
    <small v-if="label">
      {{label}}
      <span class="text-red" v-if="required">*</span>
    </small>
    <multiselect
      :style="containerStyle"
      :class="{multih: showPlaceholder}"
      v-model="valueData"
      :multiple="multiple"
      :allow-empty="allowEmpty"
      :custom-label="customLabel"
      :select-label="selectLabel"
      :selected-label="$t('select.selectedLabel')"
      :deselect-label="$t('select.deselectLabel')"
      :hide-selected="hideSelected"
      :placeholder="placeholder"
      :searchable="searchable"
      :options="options"
      :required="required"
      :disabled="disabled"
      @input="inputValue"
      @select="selectValue"
      track-by="label"
    ></multiselect>
  </div>
</template>

<script>
  import {extend} from '~/plugins/libs';
  import Multiselect from 'vue-multiselect';
  import '~/plugins/utils/polyfil';

  let findOne = (list = [], value) => {
    for (let item of list) {
      if (item.value && item.value === value) {
        return extend({}, item, true);
      }
    }
    return list.length > 0 ? list[0] : '';
  };

  let findMore = (list, values = []) => {
    let vals = [];
    for (let item of list) {
      if (Array.isArray(values) && values.includes(item.value)) {
        vals.push(extend({}, item, true));
      }
    }
    return vals;
  };

  let getValues = (list) => {
    let vals = [];
    for (let item of list) {
      if (item.hasOwnProperty('value')) {
        vals.push(item.value);
      }
    }
    return vals;
  };

  const noop = () => {
  };

  export default {
    props: {
      label: {
        type: String,
        default: null
      },
      value: {
        default: null
      },
      options: {
        type: Array,
        default() {
          return [];
        }
      },
      disabled: {
        type: Boolean,
        default: false
      },
      searchable: {
        type: Boolean,
        default: false
      },
      placeholder: {
        type: String,
        default: '' // Select option
      },
      selectLabel: {
        type: String,
        default: '' // Press enter to select
      },
      multiple: {
        type: Boolean,
        default: false
      },
      hideSelected: {
        type: Boolean,
        default: true
      },
      allowEmpty: {
        type: Boolean,
        default: true
      },
      required: {
        type: Boolean,
        default: false
      },
      showError: {
        type: Boolean,
        default: false
      },
      minWidth: {
        type: [Number],
        default: 0
      }
    },
    data() {
      return {
        valueData: null,
        errorValue: false
      }
    },
    watch: {
      value(val, old) {
        this.setValue(val, old);
      },
      valueData(vd, old) {
        vd = JSON.parse(JSON.stringify(vd));
        old = JSON.parse(JSON.stringify(old));
        if (vd) {
          if (this.multiple) {
            this.$emit('input', getValues(vd));
            this.$emit('change', getValues(vd));
          } else {
            this.$emit('input', vd.value);
            this.$emit('change', vd.value);
          }
        }
      }
    },
    mounted() {
      this.setValue(this.value);
      this.$root.$on('show:input:error', (cb = noop) => {
        this.errorValue = false;
        if (this.required && String(this.valueData).length === 0) {
          this.errorValue = true;
        }
        this.$root.$emit('show:input:isError', this.errorValue);
        cb(this.errorValue);
      });
      setTimeout(() => {
        this.close();
      }, 500);
    },
    computed: {
      containerStyle() {
        let obj = {};
        if (Number(this.minWidth) > 0) {
          obj['min-width'] = this.minWidth + 'px';
        }
        return obj;
      },
      isShowError() {
        return this.showError || this.errorValue;
      },
      showPlaceholder() {
        return (this.multiple && Array.isArray(this.valueData) && this.valueData.length > 0)
      }
    },
    methods: {
      customLabel(option) {
        return option.label
      },
      inputValue(v) {
//        this.close();
      },
      selectValue(selectedOption, id) {
//        this.close();
      },
      setValue(val = null, old = null) {
        val = JSON.parse(JSON.stringify(val));
        old = JSON.parse(JSON.stringify(old));

        if (this.multiple) {
          if (val.equals(old) || !Array.isArray(val) || (Array.isArray(val) && val.length === 0)) {
            return;
          }
          if (val.length > 0) {
            this.valueData = findMore(this.options, val.filter(e => e));
          }
        } else {
          this.valueData = findOne(this.options, val);
        }
      },
      close() {
        this.$children[0].deactivate();
      }
    },
    destroyed() {
      this.$root.$off('show:input:error');
    },
    components: {
      Multiselect
    }
  }
</script>

<style scoped>
  .control-item small {
    color: #727272;
    font-size: 12px;
    padding-left: 5px;
  }
</style>

<style>
  .input-group .form-control {
    z-index: inherit;
  }

  fieldset[disabled] .multiselect {
    pointer-events: none
  }

  .multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: 35px;
    background: #fff;
    display: block
  }

  .multiselect__spinner:after, .multiselect__spinner:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41b883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent
  }

  .multiselect__spinner:before {
    animation: a 2.4s cubic-bezier(.41, .26, .2, .62);
    animation-iteration-count: infinite
  }

  .multiselect__spinner:after {
    animation: a 2.4s cubic-bezier(.51, .09, .21, .8);
    animation-iteration-count: infinite
  }

  .multiselect__loading-enter-active, .multiselect__loading-leave-active {
    transition: opacity .4s ease-in-out;
    opacity: 1
  }

  .multiselect__loading-enter, .multiselect__loading-leave-active {
    opacity: 0
  }

  .multiselect, .multiselect__input, .multiselect__single {
    font-family: inherit;
    font-size: 14px;
    -ms-touch-action: manipulation;
    touch-action: manipulation
  }

  .multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    /*min-height: 40px;*/
    text-align: left;
    color: #35495e
  }

  .multiselect * {
    box-sizing: border-box
  }

  .multiselect:focus {
    outline: none
  }

  .multiselect--disabled {
    pointer-events: none;
    opacity: .6
  }

  .multiselect--active {
    z-index: 1;
  }

  .multiselect--active .multiselect__current, .multiselect--active .multiselect__input, .multiselect--active .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .multiselect--active .multiselect__select {
    transform: rotate(180deg)
  }

  .multiselect--above.multiselect--active .multiselect__current, .multiselect--above.multiselect--active .multiselect__input, .multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .multiselect__input, .multiselect__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 26px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 1px 0 0 5px;
    width: 100%;
    transition: border .1s ease;
    box-sizing: border-box;
    /*margin-bottom: 8px*/
  }

  .multiselect__tag ~ .multiselect__input, .multiselect__tag ~ .multiselect__single {
    width: auto
  }

  .multiselect__input:hover, .multiselect__single:hover {
    border-color: #cfcfcf
  }

  .multiselect__input:focus, .multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none
  }

  .multiselect__single {
    padding-left: 6px;
    /*margin-bottom: 8px;*/
    cursor: pointer;
  }

  .multiselect__tags {
    min-height: 36px;
    display: block;
    padding: 2px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff
  }

  .multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 8px;
    white-space: nowrap
  }

  .multiselect__tag-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: normal;
    width: 22px;
    text-align: center;
    line-height: 22px;
    transition: all .2s ease;
    border-radius: 5px
  }

  .multiselect__tag-icon:after {
    content: "\D7";
    color: #266d4d;
    font-size: 14px
  }

  .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #369a6e
  }

  .multiselect__tag-icon:focus:after, .multiselect__tag-icon:hover:after {
    color: #fff
  }

  .multiselect__current {
    min-height: 40px;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #e8e8e8
  }

  .multiselect__current, .multiselect__select {
    line-height: 16px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    text-decoration: none;
    cursor: pointer
  }

  .multiselect__select {
    position: absolute;
    width: 40px;
    height: 34px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    text-align: center;
    transition: transform .2s ease
  }

  .multiselect__select:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent;
    content: ""
  }

  .multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px
  }

  .multiselect--active .multiselect__placeholder {
    display: none
  }

  .multiselect__content {
    position: absolute;
    list-style: none;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    padding: 0;
    margin: 0;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
  }

  .multiselect--above .multiselect__content {
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-top: 1px solid #e8e8e8
  }

  .multiselect__content::webkit-scrollbar {
    display: none
  }

  .multiselect__element {
    display: block
  }

  .multiselect__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap
  }

  .multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px
  }

  .multiselect__option--highlight {
    background: #FAFAFA;
    outline: none;
    color: #4F5457
  }

  .multiselect__option--highlight:after {
    content: attr(data-select);
    background: #FAFAFA;
    color: #4F5457
  }

  .multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700
  }

  .multiselect__option--selected:after {
    content: attr(data-selected);
    color: silver
  }

  .multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
  }

  .multiselect__option--selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff
  }

  .multiselect--disabled {
    background: #ededed;
    pointer-events: none
  }

  .multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select, .multiselect__option--disabled {
    background: #ededed;
    color: #a6a6a6
  }

  .multiselect__option--disabled {
    cursor: text;
    pointer-events: none
  }

  .multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede !important
  }

  .multiselect-enter-active, .multiselect-leave-active {
    transition: all .15s ease
  }

  .multiselect-enter, .multiselect-leave-active {
    opacity: 0
  }

  .multih .multiselect__single {
    display: none;
  }

  @keyframes a {
    0% {
      transform: rotate(0)
    }
    to {
      transform: rotate(2turn)
    }
  }
</style>
