<template>
  <transition :name="'slide' + placement" mode="in-out" appear>
    <div class="aside" v-if="isShow" :style="{width: getWidth, height: getHeight}" :class="[placement]">
      <div class="aside-dialog">
        <div class="aside-content">

          <div class="aside-header" ref="header">
            <button type="button" class="close" @click="trigger_close()"><span>&times;</span></button>
            <h6 class="aside-title" v-if="header">{{ header }}</h6>
            <slot name="header" v-else></slot>
          </div>

          <div class="aside-body" :style="bodyStyle">
            <slot name="body"></slot>
          </div>

          <div class="aside-footer" :class="[footerAlign]" ref="footer" v-if="$slots.footer">
            <slot name="footer"></slot>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  let backdrop = null;
  export default {
    props: {
      header: {type: String},
      placement: {type: String, default: 'right'},
      width: {type: [Number, String], default: 350}
    },
    data() {
      return {
        height: 0,
        bodyHeight: 0,
        bodyWidth: 0,
        bodyStyle: {
          height: 0
        },
        isShow: false
      }
    },
    computed: {
      getWidth() {
        if (String(this.bodyWidth).includes('%')) {
          return this.bodyWidth;
        }
        return this.bodyWidth + 'px';
      },
      getHeight() {
        if (String(this.height).includes('%')) {
          return this.height;
        }
        return this.height + 'px';
      },
      footerAlign() {
        return `text-${this.placement === 'right' ? 'left' : 'right'}`
      }
    },
    watch: {
      bodyHeight(val) {
        this.bodyStyle = {height: `${val}px`};
        if (this.$slots.footer) {
          this.bodyStyle['padding-bottom'] = '60px';
        } else {
          delete this.bodyStyle['padding-bottom'];
        }
      },
      isShow: {
        immediate: Boolean(process.browser),
        handler(val) {
          this.$emit('input', val);
          this.$emit(val ? 'open' : 'close');

          if (val) {
            this.showBackdrop();
          } else {
            this.removeBackdrop();
          }
        }
      }
    },
    mounted() {
      this.bodyWidth = this.width;
      this.removeBackdrop();
      this.$emit('trigger', () => this.trigger);
      this.$on('open', () => {
        this.isShow = true;
        this.setHeight();
      });
      this.$on('close', () => {
        this.isShow = false;
        this.removeBackdrop();
      });
      window.addEventListener('resize', this.setHeight, false);
    },
    methods: {
      show() {
        this.trigger_open()
      },
      hide() {
        this.trigger_close();
      },
      showBackdrop() {
        // const body = document.body;
        if (!backdrop) {
          backdrop = document.createElement('div')
        }
        backdrop.className = 'aside-backdrop';
        backdrop.classList.add('in');
        // body.appendChild(backdrop);
        let parent = this.$parent;
        if (parent.$el.nodeName === '#comment') {
          parent = parent.$parent;
        }
        parent.$el.appendChild(backdrop);
        document.querySelector('html').classList.add('modal-open');

        backdrop.addEventListener('click', () => {
          this.$emit('close');
        }, false);

        this.$nextTick(() => {
          if (this.isShow && !document.querySelector('.aside-backdrop.in')) {
            this.showBackdrop();
          }
        });
      },
      removeBackdrop() {
        let bd = document.querySelector('.aside-backdrop');
        if (bd) {
          bd.remove();
          backdrop = null;
        }
        document.querySelector('html').classList.remove('modal-open');
      },
      setHeight() {
        this.height = window.innerHeight;

        setTimeout(() => {
          if (this.$refs.header) {
            this.bodyHeight = this.height - this.$refs.header.offsetHeight;
          }
        }, 150);
      },
      setWidth(val) {
        this.bodyWidth = val;
      },
      trigger() {
        return {
          close: () => this.trigger_close(),
          open: () => this.trigger_open()
        }
      },
      trigger_close() {
        this.$emit('close');
      },
      trigger_open() {
        this.$emit('open');
      }
    },
    destroyed() {
      this.$off('open');
      this.$off('close');
    }
  }
</script>

<style scoped>
  button {
    outline: none;
  }

  .aside-title {
    margin: 5px 0;
  }

  .aside-content {
    position: relative;
  }

  .aside-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
    z-index: 1000;
  }

  .aside-open {
    transition: transform 0.3s;
  }

  .aside-open.has-push-right {
    transform: translateX(-300px);
  }

  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1049;
    background: #fff;
    overflow: hidden;
  }

  .aside.left {
    left: 4px;
    right: auto;
  }

  .aside.right {
    left: auto;
    right: 4px;
  }

  .slideleft-enter {
    transform: translateX(-100%);
  }

  .slideleft-enter-active {
    animation: slideleft-in .3s;
  }

  .slideleft-leave-active {
    animation: slideleft-out .3s;
  }

  @keyframes slideleft-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideleft-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .slideright-enter-active {
    animation: slideright-in .3s;
  }

  .slideright-leave-active {
    animation: slideright-out .3s;
  }

  @keyframes slideright-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideright-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .aside:focus {
    outline: 0;
  }

  @media (max-width: 991px) {
    .aside {
      min-width: 240px;
    }
  }
</style>

<style>
  .aside .aside-dialog .aside-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 40px;
    padding: 6px 15px;
    background: #31373a;
    color: #fff;
  }

  .aside .aside-dialog .aside-header .close {
    margin-right: -8px;
    padding: 4px 8px;
    color: #fff;
    font-size: 20px;
    opacity: .8;
  }

  .aside .aside-dialog .aside-body {
    position: relative;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .aside .aside-dialog .aside-footer {
    padding: 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }

  .aside .aside-dialog .aside-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }

  .aside .aside-dialog .aside-footer .btn-group .btn + .btn {
    margin-left: -1px;
  }

  .aside .aside-dialog .aside-footer .btn-block + .btn-block {
    margin-left: 0;
  }

  .aside-backdrop {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    opacity: 0;
    transition: opacity .3s ease;
    background-color: #000;
  }

  .aside-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
  }
</style>
