<template>
  <!-- FootLine -->
  <div class="submit-pane">
    <slot></slot>
  </div>
  <!-- FootLine [E] -->
</template>

<style scoped>
  button, .btn {
    outline: none;
  }

  .submit-pane {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    height: 50px;
    padding: 6px 20px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .submit-pane .btn {
    cursor: pointer;
  }

</style>