<template>
  <div class="msp-switchbox" :class="{switched}" @click="onChange">
    <div class="msp-switch-cont">
      <span class="msp-switch-off">Off</span>
      <div class="msp-switch-handle"></div>
      <span class="msp-switch-on">On</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        switched: false
      }
    },
    watch: {
      value(val) {
        this.switched = val;
      },
      switched(val) {
        this.$emit('input', val);
      }
    },
    mounted() {
      this.switched = this.value;
    },
    methods: {
      onChange() {
        this.switched = !this.switched;
      }
    }
  }
</script>

<style scoped>
</style>
