<template>
  <div class="form-group">
    <SwitchBox v-model="switched"></SwitchBox>
    <label class="control-label text-left" v-if="label">{{label}}</label>
  </div>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        default: ''
      },
      value: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        switched: false
      }
    },
    watch: {
      value(val) {
        this.switched = val;
      },
      switched(val) {
        this.$emit('input', val);
      }
    },
    mounted() {
      this.switched = this.value;
    },
    methods: {
      onChange() {
        this.switched = !this.switched;
      }
    }
  }
</script>
