<template>
  <div>
    <b-table striped hover :items="list" :fields="fields" caption-top class="top-15">
      <template slot="table-caption">
        {{tableCaption}}
      </template>

      <template slot="key" slot-scope="data" v-if="!onlyvalue">
        <b-form-input v-model="list[data.index].key" placeholder="VAR_NAME"></b-form-input>
      </template>

      <template slot="value" slot-scope="data">
        <b-form-input v-model="list[data.index].value" placeholder="var value"></b-form-input>
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">

          <b-button size="sm" variant="success" @click="onAdd()" v-if="isLast(data.index)">
            <i class="fa fa-plus"></i>
          </b-button>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.index)">
            <i class="fa fa-trash"></i>
          </b-button>

        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
  const envItem = {
    key: '',
    value: ''
  };
  export default {
    props: {
      onlyvalue: {
        type: Boolean,
        default: false
      },
      value: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {
        list: [],
        edit: Object.assign({}, envItem),
        table: {
          fields: {
            key: {
              label: 'Название переменной'
            },
            value: {
              label: 'Значение'
            },
            actions: {
              label: ''
            }
          },
          fields2: {
            value: {
              label: 'Значение'
            },
            actions: {
              label: ''
            }
          }
        }
      }
    },
    computed: {
      fields() {
        return this.table[this.onlyvalue ? 'fields2' : 'fields'];
      },
      tableCaption() {
        return this.onlyvalue ? 'Переменная PATH приложения' : 'Пользовательские переменные';
      }
    },
    mounted() {
      this.list = this.value;
      if (this.list.length === 0) {
        this.onAdd();
      }
    },
    watch: {
      list(val) {
        this.$emit('input', val);
      }
    },
    methods: {
      setData(data) {
        this.list = data;
      },
      isLast(idx) {
        return this.list.length - 1 === idx;
      },
      onAdd() {
        this.list.push(Object.assign({}, this.edit))
      },
      onEdit(idx) {
        this.edit = this.list[idx];
      },
      onRemove(idx) {
        this.list.splice(idx, 1);
        if (this.list.length === 0) {
          this.onAdd();
        }
      }
    }
  }
</script>

<style scoped>
  .actions {
    margin-top: 3px;
  }
</style>
