<template>
  <div :class="{'only-page': onlyPage}">

    <div class="wrap">
      <Header></Header>
      <LeftSidebar></LeftSidebar>

      <div id="content">
        <b-container fluid class="main-content">

          <!--<div class="content-heading">-->
          <!--{{getHead.title}}-->
          <!--<small class="top-5">{{getHead.small}}</small>-->
          <!--</div>-->

          <s-alert variant="error" v-if="isShowAlert">
            Указан неверное расположение Open Server <br/>
            Расположение указывается в
            <b>
              <nuxt-link to="/setting">настройках</nuxt-link>
            </b>
          </s-alert>

          <s-alert variant="error" v-if="$store.state.requireRestartOS">
            Нужна ручная перезагрузка Open Server <br/>
          </s-alert>

          <no-ssr>
            <nuxt/>
          </no-ssr>
        </b-container>

        <Footer></Footer>
      </div>

    </div>

    <Terminal v-if="$store.state.on.terminalWidget"></Terminal>

  </div>
</template>

<script>
  import Vue from 'vue';
  import {extend} from '~/plugins/libs';
  import Header from '~/components/Header';
  import Footer from '~/components/Footer';
  import Message from '~/components/Message';
  import LeftSidebar from '~/components/LeftSidebar/index';
  import Terminal from '~/components/widget/Terminal/index';
  import Vuebar from 'vuebar'; // https://github.serafin.io/vuebar/

  Vue.use(Vuebar);
  Vue.component('s-alert', () => import('~/components/s-alert'));
  Vue.component('help', () => import('~/components/help'));
  Vue.component('SwitchBox', () => import('~/components/switch-box'));
  Vue.component('SwitchLine', () => import('~/components/switch-line'));
  Vue.component('Select', () => import('~/components/s-select'));
  Vue.component('Sidebar', () => import('~/components/sidebar'));
  Vue.component('ConfirmModal', () => import('~/components/confirm-modal'));

  const MessageComponent = Vue.extend(Message);

  const openMessage = (propsData = {
    title: '',
    message: '',
    type: '',
    direction: '',
    duration: 5e3,
    container: '.messages'
  }) => new MessageComponent({el: document.createElement('div'), propsData});

  export default {
    created() {
      this.$ipc.send('app::init');
    },
    mounted() {
      this.$root.$on('NOTIFY', (opts = {}) => {
        if (opts.type === 'error') {
          opts.type = 'danger';
        }

        // if (this.$store.state.ENV.SYSTEM_NOTIFY) {
        // } else {
        openMessage(extend({
          duration: 5e3,
          type: 'success',
          message: '',
          showCloseButton: true
        }, opts));
        // }
      });

      this.$faye.subscribe('system/*', (cn, n) => {
        let channel = cn.split('/').pop();
        switch (channel) {
          case 'env':
            this.$store.commit('SET_ENV', n);
            break;
          case 'load-setting':
            this.$store.commit('SET_SETTING', n);
            break;
        }
      });

      this.$ipc.once('load-setting', (event, data) => {
        this.$store.commit('SET_SETTING', data.settings);

        setTimeout(() => {
          if (window.location.pathname !== '/setting') {
            this.$ipc.send('load-setting');
          }
        }, 1e3);
      });
      this.$ipc.send('load-setting');

      this.$faye.subscribe('go', pathName => {
        this.$router.push(pathName);
      });

      this.$faye.subscribe('notify', (data) => {
        this.$notify(data.type, data.message, data.opts || {});
      });

      this.$faye.subscribe('log', (n) => {
        switch (n.action) {
          case 'line':
            delete n.action;
            this.$store.commit('LOG_PUSH', n);
            this.$root.$emit('log::refresh');
            break;
          case 'channels':
            this.$store.commit('SET_LOG_CHANNELS', n.channels);
            break;
        }
      });
    },
    computed: {
      getHead() {
        return this.$t(`head.${this.$route.name}`);
      },
      isShowAlert() {
        return !this.$store.state.ENV.VALID_ROOT_DIR && location.pathname !== '/setting';
      },
      onlyPage() {
        return this.$route.hasOwnProperty('hash') && String(this.$route.hash).includes('onlyPage');
      }
    },
    components: {
      Header,
      Footer,
      Message,
      LeftSidebar,
      Terminal
    }
  }
</script>

<style scoped>
  .only-page .left-sidebar,
  .only-page .top-header,
  .only-page #content > footer {
    display: none;
  }

  .only-page #content {
    margin-left: 0;
  }

  .only-page .main-content {
    padding-top: 5px;
  }

  .wrap {
    position: relative;
    width: 1200px;
    margin: auto;
    background-color: #fff;
    z-index: 1;
  }

  #content {
    position: relative;
    left: 0;
    margin-left: 200px;
    min-height: 100%;
    /*overflow-x: auto !important;*/
  }

  .main-content {
    padding: 25px 25px 60px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .content-heading + .breadcrumb, h3 + .breadcrumb {
    margin: -25px -25px 20px -20px;
    background-color: #fafbfc;
    border-top: 1px solid #cfdbe2;
    border-bottom: 1px solid #cfdbe2
  }

  .content-heading > .breadcrumb, h3 > .breadcrumb {
    background: 0 0;
    font-size: 13px;
    border: 0;
    padding: 10px 10px 0 0;
    margin-bottom: 0
  }

  .content-heading > .breadcrumb.pull-right, h3 > .breadcrumb.pull-right {
    margin: -2px 0 0
  }

  .content-heading, .content-wrapper > h3 {
    font-size: 20px;
    line-height: 1.1;
    color: #929292;
    margin: -25px -26px 15px;
    padding: 15px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2
  }

  .content-heading > small, .content-wrapper > h3 > small {
    display: block;
    font-size: 12px;
    color: #909fa7
  }
</style>
