<template>
  <Sidebar ref="block" :header="head">
    <template slot="body">

      <b-form-group>
        <small>Название соединения</small>
        <b-form-input size="sm" v-model.trim="edit.name"></b-form-input>
      </b-form-group>

      <b-form-group>
        <small>Хост</small>
        <b-form-input size="sm" v-model.trim="edit.host"></b-form-input>
      </b-form-group>

      <b-form-group>
        <small>Порт</small>
        <b-form-input size="sm" type="number" v-model.trim="edit.port"></b-form-input>
      </b-form-group>

      <b-form-group>
        <small>Логин</small>
        <b-form-input size="sm" v-model.trim="edit.login"></b-form-input>
      </b-form-group>

      <b-form-group v-if="edit.useKey">
        <small>Ключ</small>
        <Select v-model="edit.keyName" :options="keyOptions"></Select>
      </b-form-group>

      <b-form-group v-else>
        <small>Пароль</small>
        <b-form-input size="sm" v-model.trim="edit.password"></b-form-input>
      </b-form-group>

      <SwitchLine label="Использовать ключ" v-model="edit.useKey"></SwitchLine>

      <!--<b-form-group>-->
      <!--<small>Название домена</small>-->
      <!--<b-form-input size="sm"></b-form-input>-->
      <!--</b-form-group>-->

      <div class="pull-right">
        <b-button size="sm" @click="hide()">Отмена</b-button>
        <b-button size="sm" variant="success" @click="onSave()" class="left-5">Сохранить</b-button>
      </div>
    </template>
  </Sidebar>
</template>

<script>
  const item = {
    name: '',
    login: '',
    password: '',
    host: '',
    port: 22,
    useKey: false,
    keyName: ''
  };
  export default {
    props: {
      keys: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {
        edit: Object.assign({}, item)
      }
    },
    watch: {
      'edit.useKey'(val) {
        if (!val) {
          this.edit.keyName = '';
        }
      }
    },
    computed: {
      head() {
        return 'Новое соединение';
      },
      keyOptions() {
        return this.keys.map(({name}) => {
          return {value: name, label: name};
        });
      }
    },
    methods: {
      show() {
        this.$refs.block.show();
      },
      hide() {
        this.$refs.block.hide();
      },
      onEdit(data) {
        this.edit = Object.assign({}, item, data);
        this.show();
      },
      onSave() {
        const next = () => {
          this.$emit('saved');
          this.edit = Object.assign({}, item);
          this.hide();
        };
        if (this.edit.hasOwnProperty('id')) {
          this.$API.Ssh.update(this.edit.id, this.edit).then(next);
        } else {
          this.$API.Ssh.save(this.edit).then(next);
        }
      }
    }
  }
</script>

<style scoped>
</style>
