<template>
  <b-modal :visible="isShow" size="lg" centered hide-footer no-close-on-esc no-close-on-backdrop
           @hide="hide()"
           title="Выберите домен">

    <ContentLoader v-if="isLoading"></ContentLoader>
    <b-table striped hover :items="domainList" :fields="table.fields" class="domain-list top-15" v-else>

      <template slot="name" slot-scope="data">
        <div @click="onSelect(data.item)" class="domain-item">{{data.value}}</div>
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">
          <!--<b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item)">-->
          <!--<i class="fa fa-trash"></i>-->
          <!--</b-button>-->
          <b-button size="sm" @click="onSelect(data.item)">Выбрать</b-button>
        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="domainList.length"
                    :per-page="table.perPage"
                    v-model="currentPage"
                    v-if="domainList > table.perPage"/>
    </div>

  </b-modal>
</template>

<script>
  import ContentLoader from '../content-loader';

  export default {
    data() {
      return {
        isShow: false,
        isLoading: false,
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название домена'
            },
            actions: {
              label: ''
            }
          }
        }
      }
    },
    computed: {
      domainList() {
        return this.table.list;
      }
    },
    methods: {
      getList() {
        this.isLoading = true;
        this.$API.Domains.getList().then(res => {
          this.isLoading = false;
          let arr = [];
          res.list.forEach(item => {
            arr.push({name: item});
          });
          this.table.list = arr;
        });
      },
      show() {
        this.isShow = true;
        this.getList();
      },
      hide() {
        this.isShow = false;
      },
      onSelect(item) {
        this.hide();
        this.$emit('selected', ['%sitedir%', item.name].join('\\'));
      }
    },
    components: {
      ContentLoader
    }
  }
</script>

<style scoped>
  .domain-item {
    cursor: pointer;
  }

  .domain-list tr button {
    visibility: hidden;
  }
  .domain-list tr:hover button {
    visibility: visible;
  }
</style>
