<template>
  <Sidebar ref="block" :header="head">
    <template slot="body">

      <b-form-group>
        <small>Заголовок</small>
        <b-form-input size="sm" :readonly="isEdit" v-model="key.name"></b-form-input>
      </b-form-group>

      <b-form-group>
        <small>Ключ</small>
        <b-form-textarea rows="8" :state="isValidKey"
                         v-model.trim="key.content"
                         placeholder="Указывается содержимое *.ppk файла (приватный ключ putty)"
        ></b-form-textarea>
        <!--placeholder="Не вставляйте приватные SSH ключи. Вставвляйте пуюличный ключ, который располагается в файле '~/.ssh/id_rsa.pub' и начинается с 'ssh-rsa'."-->
      </b-form-group>

      <div class="pull-right">
        <b-button size="sm" @click="hide()">Отмена</b-button>
        <b-button size="sm"
                  variant="success"
                  @click="onSave()"
                  class="left-5"
                  :disabled="!isValidKey">Сохранить
        </b-button>
      </div>
    </template>
  </Sidebar>
</template>

<script>
  export default {
    data() {
      return {
        isEdit: false,
        key: {
          name: '',
          content: ''
        }
      }
    },
    computed: {
      head() {
        return this.isEdit ? 'Редактирование ключа' : 'Новый ключ';
      },
      isValidKey() {
        if (String(this.key.content).length === 0) {
          return null;
        }
        return String(this.key.content).includes('ssh-rsa');
      }
    },
    methods: {
      show() {
        this.$refs.block.show();
      },
      hide() {
        if (this.$refs.block) {
          this.$refs.block.hide();
        }
      },
      onEdit(item) {
        this.isEdit = true;
        this.key.name = item.name;
        this.$API.Ssh.getKey(item.name).then(data => {
          this.key.content = data;
          this.show();
        });
      },
      onSave() {
        this.$API.Ssh.saveKey(this.key).then(() => {
          this.isEdit = false;
          this.$emit('saved');
          this.$notify('success', 'Ключ успешно сохранен');
          this.key.name = '';
          this.key.content = '';
        });
      }
    }
  }
</script>

<style scoped>
</style>
