<template>
  <div>

    <b-tabs card>
      <b-tab title="Файлы">
        <BackupArea
          :list="fileList"
          :fields="fields"
          type="files"
          @getList="getList()"
          @restore="onRestore"
          @remove="onRemove"
        ></BackupArea>
      </b-tab>

      <b-tab title="MySQL" v-if="isActiveMySQL">
        <BackupArea
          :list="mysqlList"
          :fields="fields"
          type="mysql"
          @getList="getList()"
          @restore="onRestore"
          @remove="onRemove"
        ></BackupArea>
      </b-tab>

      <!--<b-tab title="История заданий"></b-tab>-->
    </b-tabs>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  import BackupArea from '~/components/widget/BackupArea';

  export default {
    data() {
      return {
        list: [],
        fields: {
          name: {
            label: 'Назввание'
          },
          actions: {
            label: ''
          }
        }
      }
    },
    computed: {
      fileList() {
        return this.list.files;
      },
      mysqlList() {
        return this.list.mysql || [];
      },
      isActiveMySQL() { // уведомление если отключен модуль
        return this.activeModule('mysql');
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$ipc.once('backups::getList:ok', (event, list) => {
          this.list = list;
        });
        this.$ipc.send('backups::getList');
      },
      onRestore(name, archive, type) {
        this.$ipc.once('backups::restore:ok', () => {
          this.$notify('success', 'Задание поставлено в очередь на обработку');
        });
        this.$ipc.once('backups::restore:error', () => {
        });
        this.$ipc.send('backups::restore', JSON.stringify({name, archive, type}));
      },
      onRemove(name) {
        this.$refs.confirm.open({
          handle: () => {
            this.$ipc.once('backups::remove:ok', () => {
              this.$notify('success', 'Бэкап успешно удален');
              this.getList();
            });
            this.$ipc.once('backups::remove:error', () => {
              this.$notify('error', 'При удалении произошла ошиюка');
            });
            this.$ipc.send('backups::remove', name);
          }
        });
      },
      activeModule(name) {
        return Boolean(this.$store.state.ENV.ACTIVE_MODULE[`${name}_driver`.toUpperCase()]);
      }
    },
    components: {
      BackupArea
    }
  }
</script>
