<template>
  <div class="bottom-40">

    <b-button size="sm" variant="success" @click="$refs.crontab.show()">
      <i class="fa fa-plus"></i> Добавить задание
    </b-button>
    <b-button size="sm" class="left-5" @click="getList()">
      <i class="fa fa-refresh"></i>
    </b-button>

    <b-table striped hover :items="list" :fields="table.fields" class="top-10">

      <template slot="cmd" slot-scope="data">
        <div class="w38">
          {{data.value}}
          <small>{{data.item.comment}}</small>
        </div>
      </template>

      <template slot="minutes" slot-scope="data">
        {{data.item.time.minutes}}
      </template>
      <template slot="hours" slot-scope="data">
        {{data.item.time.hours}}
      </template>
      <template slot="days" slot-scope="data">
        {{data.item.time.days}}
      </template>
      <template slot="months" slot-scope="data">
        {{data.item.time.months}}
      </template>
      <template slot="week" slot-scope="data">
        {{data.item.time.week}}
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions text-right">
          <b-button size="sm" @click="onSetState(data.item)">
            <i class="fa fa-circle" :class="[data.item.active ? 'on' : 'off']"></i>
          </b-button>
          <b-button size="sm" class="left-5" @click="onRun(data.item)">
            <i class="fa fa-play"></i>
          </b-button>
          <b-button size="sm" class="left-5" @click="onEdit(data.item)">
            <i class="fa fa-pencil"></i>
          </b-button>
          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item, data.index)">
            <i class="fa fa-trash"></i>
          </b-button>
        </div>
      </template>
    </b-table>


    <Sidebar ref="crontab" width="800">
      <template slot="body">
        <CronWidget/>
      </template>
    </Sidebar>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  import CronWidget from '~/components/widget/cron/index';

  export default {
    data() {
      return {
        list: [],
        table: {
          fields: {
            cmd: {
              label: 'Список заданий'
            },
            minutes: {
              label: 'Минуты'
            },
            hours: {
              label: 'Часы'
            },
            days: {
              label: 'Дни'
            },
            months: {
              label: 'Месяцы'
            },
            week: {
              label: 'Дни недели'
            },
            actions: {
              label: ''
            }
          }
        }
      }
    },
    mounted() {
      this.$root.$on('cron:save', () => {
        this.$refs.crontab.hide();
        this.getList();
      });
      this.$ipc.on('cron:getList', (event, list) => {
        this.list = list;
      });
      this.getList();
    },
    methods: {
      getList() {
        this.$ipc.send('cron:getList');
      },
      onEdit(item) {
        this.$root.$emit('cron:edit', item);
        this.$refs.crontab.show();
      },
      onSetState(item) {
        item.active = !item.active;
        this.$ipc.send('cron:setState', JSON.stringify({id: item.id, active: item.active}));
      },
      onRun(item) {
        this.$ipc.send('cron:run', JSON.stringify(item));
      },
      onRemove(item, idx) {
        this.$ipc.once('cron:remove:ok', () => {
          this.list.splice(idx, 1);
        });
        this.$refs.confirm.open({
          handle: () => {
            this.$ipc.send('cron:remove', item.id);
          }
        });
      }
    },
    components: {
      CronWidget
    }
  }
</script>

<style scoped>
  .w38 {
    width: 38%;
  }

  .actions {
    min-width: 120px;
  }

  .on {
    color: #03b303;
  }

  .off {
    color: #ff0000;
  }
</style>
