<template>
  <div class="domain-page">

    <b-button-group class="w-100">
      <b-button size="sm" variant="success" @click="onAdd()">
        <i class="fa fa-plus"></i>
        Добавить
      </b-button>
      <b-button size="sm" @click="getList()">
        <i class="fa fa-refresh"></i>
        Обновить список
      </b-button>

      <b-form-input size="sm" class="left-5 w-25 inline-block" placeholder="Фильтр" v-model="filter"></b-form-input>
    </b-button-group>

    <div class="clearfix"></div>

    <b-table striped hover :items="domainList" :fields="table.fields" class="top-15">

      <template slot="HEAD_name" slot-scope="data">
        <div class="text-left d-inline-block">
          {{data.label}}
        </div>
      </template>

      <template slot="HEAD_actions" slot-scope="data">
        <div class="text-right d-inline-block" style="float: right;">
          Доменов
          <b-badge>{{domainCount}}</b-badge>
        </div>
      </template>
      <template slot="actions" slot-scope="data">
        <div class="actions">

          <i class="fa fa-lock" v-if="data.item.name === 'localhost'"></i>

          <help :target="`b-${data.index}`" placement="left" content="Сделать бэкап" v-else>
            <b-button size="sm" :id="`b-${data.index}`" slot="ico" @click="onBackup(data.item)">
              <i class="fa fa-download"></i>
            </b-button>
          </help>

          <help :target="`br-${data.index}`" placement="left" content="Открыть в браузере">
            <b-dropdown dropup noCaret no-flip size="sm" :id="`br-${data.index}`" slot="ico" class="left-5">
              <template slot="text">
                <i class="fa fa-globe"></i>
              </template>
              <b-dropdown-item-button @click="openBrowser(data.item)">HTTP</b-dropdown-item-button>
              <b-dropdown-item-button @click="openBrowser(data.item, 'https')">HTTPS</b-dropdown-item-button>
            </b-dropdown>
          </help>

          <help :target="`oc-${data.index}`" placement="top" content="Открыть каталог">
            <b-button size="sm" class="left-5" :id="`oc-${data.index}`" slot="ico" @click="onOpenDir(data.item)">
              <i class="fa fa-folder-open-o"></i>
            </b-button>
          </help>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item)">
            <i class="fa fa-trash"></i>
          </b-button>

        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="domainList.length"
                    :per-page="table.perPage"
                    v-model="table.currentPage"
                    v-if="domainCount > table.perPage"/>
    </div>


    <Sidebar ref="modal">
      <template slot="body">
        <b-form-group>
          <small>Название домена</small>
          <b-form-input size="sm" v-model="edit.name"></b-form-input>
        </b-form-group>

        <div class="pull-right">
          <b-button size="sm" @click="$refs.modal.hide()">Отмена</b-button>
          <b-button size="sm" variant="success" @click="onSave()" class="left-5">Сохранить</b-button>
        </div>

      </template>
    </Sidebar>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isRename: false,
        filter: '',
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название домена'
            },
            actions: {
              label: ''
            }
          }
        },
        www: '',
        edit: {
          name: ''
        }
      }
    },
    computed: {
      domainList() {
        return this.table.list.filter(item => {
          return String(item.name).includes(this.filter);
        });
      },
      domainCount() {
        return this.table.list.length;
      },
      isSiteDir() {
        return this.$store.state.ENV.hasOwnProperty('SITEDIR') && this.$store.state.ENV.SITEDIR.length > 0;
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$ipc.once('domains::getList:ok', (event, res) => {
          if (!this.isSiteDir) {
            return this.$notify('error', 'Укажите каталог расположения доменов');
          }
          this.www = res.www;
          this.table.list = res.list;
        });
        this.$ipc.once('domains::getList:error', () => {
          this.$notify('error', 'Исправьте настройки расположения Open Server');
        });
        this.$ipc.send('domains::getList');
      },
      onAdd() {
        this.$refs.modal.show();
      },
      onSave() {
        this.$ipc.once('domains::create:ok', () => {
          this.getList();
          this.$refs.modal.hide();
          this.$store.dispatch('RESTART_OS');
        });
        this.$ipc.once('domains::create:error', () => {
          this.$refs.modal.hide();
        });
        this.$ipc.send('domains::create', JSON.stringify(this.edit));
      },
      onOpenDir(item) {
        this.$ipc.send('domains::openDir', JSON.stringify({root: this.www, dir: item.name}))
      },
      openBrowser(item, protocol = 'http') {
        let ports = this.$store.state.settings.server.ports;
        let port = '';
        if (protocol === 'http' && ports.HTTP !== 80) {
          port = `:${ports.HTTP}`
        }
        if (protocol === 'https' && ports.HTTPS !== 443) {
          port = `:${ports.HTTPS}`
        }
        this.$ipc.send('open:link', `${protocol}://${item.name}${port}`);
      },
      onBackup(item) {
        if (String(this.$store.state.ENV.BACKUP_DIR).length === 0) {
          return this.$notify('error', 'Не указан каталог для бэкапов');
        }
        this.$ipc.once('backups::create:ok', () => {
          this.$notify('success', 'Задание поставлено в очередь на обработку');
        });
        this.$ipc.once('backups::create:error', () => {
        });
        this.$ipc.send('backups::create', JSON.stringify({root: this.www, dir: item.name, type: 'files'}));
      },
      onRemove(item) {
        if (item.name === 'localhost') {
          return this.$notify('error', 'Этот домен нельзя удалить');
        }
        this.$refs.confirm.open({
          handle: () => {
            this.$ipc.once('domains::remove:ok', () => this.getList());
            this.$ipc.once('domains::remove:error', () => {
              this.$notify('error', `Домен <b>${item.name}</b> не удалось удалить`);
            });
            this.$ipc.send('domains::remove', item.name);
          }
        });
      }
    }
  }
</script>

<style scoped>
  .fa-lock {
    position: relative;
    top: 2px;
    right: 5px;
  }
</style>
