<template>
  <div>

    <b-button-group class="w-100">
      <b-button size="sm" @click="getList()">
        <i class="fa fa-refresh"></i>
        Обновить список
      </b-button>
    </b-button-group>
    <div class="clearfix"></div>

    <b-table striped hover :items="emailList" :fields="table.fields" class="top-15">

      <template slot="name" slot-scope="data">
        {{data.value}}
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">
          <b-button size="sm" @click="onView(data.item)">
            <i class="fa fa-eye"></i>
          </b-button>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item)">
            <i class="fa fa-trash"></i>
          </b-button>
        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="emailList.length"
                    :per-page="table.perPage"
                    v-model="currentPage"
                    v-if="emailList > table.perPage"/>
    </div>

    <Sidebar ref="view" header="Просмотр данных письма" width="700">
      <template slot="body">
        <b-tabs card>

          <b-tab title="Форматированный вид">
            <s-alert v-if="!isView && emailList.length === 0">
              У вас нет файлов для просмотра
            </s-alert>
            <s-alert v-if="!isView && emailList.length > 0">
              Выберите файл письма для просмотра
            </s-alert>

            <div v-if="isView">
              <b-form-group>
                <small>Тема</small>
                <b-form-input readonly v-model="view.parsed.subject"></b-form-input>
              </b-form-group>

              <b-form-group>
                <small>От кого</small>
                <input type="text" readonly class="form-control bottom-5" v-for="F in view.parsed.from"
                       :value="F.name ? F.name+' < '+F.address+' >' : F.address">
              </b-form-group>

              <b-form-group>
                <small>Кому</small>
                <input type="text" readonly class="form-control bottom-5" v-for="T in view.parsed.to"
                       :value="T.name ? T.name+' < '+T.address+' >' : T.address">
              </b-form-group>

              <b-form-group>
                <div class="format-text" v-html="view.parsed.text || view.parsed.html"></div>
              </b-form-group>
            </div>

          </b-tab>

          <b-tab title="Исходный код">
            <b-form-textarea readonly v-model="view.source"></b-form-textarea>
          </b-tab>

        </b-tabs>
      </template>
    </Sidebar>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  import Sidebar from '~/components/sidebar';

  export default {
    data() {
      return {
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название файла'
            },
            actions: {
              label: ''
            }
          }
        },
        isView: false,
        view: {
          parsed: {},
          source: ''
        }
      }
    },
    computed: {
      emailList() {
        return this.table.list;
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$ipc.once('email::getList:ok', (event, list) => {
          let arr = [];
          list.forEach(item => {
            arr.push({name: item});
          });
          this.table.list = arr;
        });
        this.$ipc.once('email::getList:error', () => {
        });
        this.$ipc.send('email::getList');
      },
      onView(item) {
        this.$ipc.once('email::getItem:ok', (event, data) => {
          this.isView = true;
          this.view = Object.assign({}, data);
          this.$refs.view.show();
        });
        this.$ipc.once('email::getItem:error', () => {
        });
        this.$ipc.send('email::getItem', item.name);
      },
      onRemove(item) {
        this.$refs.confirm.open({
          handle: () => {
            this.$ipc.once('email::remove:ok', () => this.getList());
            this.$ipc.once('email::remove:error', () => {
            });
            this.$ipc.send('email::remove', item.name);
          }
        });
      }
    },
    components: {
      Sidebar
    }
  }
</script>

<style scoped>
  .format-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
  }

</style>

<style>
  .format-text blockquote {
    border-left: 2px solid #007fcc !important;
    padding-left: 10px;
    margin-top: 5px;
  }

  .format-text img {
    max-width: 592px;
  }
</style>
