<template>
  <div>

    <b-button-group class="w-100">
      <b-button size="sm" variant="success" @click="onAdd(true)">
        <i class="fa fa-plus"></i>
        Добавить
      </b-button>
      <b-button size="sm" @click="getList()">
        <i class="fa fa-refresh"></i>
        Обновить список
      </b-button>
    </b-button-group>
    <div class="clearfix"></div>

    <b-table striped hover :items="userList" :fields="table.fields" class="top-15">

      <template slot="name" slot-scope="data">
        {{data.value}}
      </template>

      <template slot="HEAD_actions" slot-scope="data"></template>
      <template slot="actions" slot-scope="data">
        <div class="actions">
          <i class="fa fa-circle enabled" :class="[data.item.enabled ? 'on' : 'off']"></i>

          <b-button size="sm" @click="onEdit(data.item, data.index)">
            <i class="fa fa-pencil"></i>
          </b-button>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item, data.index)">
            <i class="fa fa-trash"></i>
          </b-button>
        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="userList.length"
                    :per-page="table.perPage"
                    v-model="currentPage"
                    v-if="userList > table.perPage"/>
    </div>

    <Sidebar ref="editBlock" header="Данные пользователя" width="400">
      <template slot="body">
        <b-form-group>
          <small>Логин</small>
          <b-form-input v-model="edit.login"></b-form-input>
        </b-form-group>

        <b-form-group class="gen-password">
          <small>Пароль</small>
          <b-form-input v-model="edit.password"></b-form-input>
          <b-button size="sm" class="gen-password-btn" @click="onGenPass()">
            <i class="fa fa-random"></i>
          </b-button>
        </b-form-group>

        <b-form-group>
          <small>Права доступа</small>
          <Select :options="accessList" v-model="edit.mode"></Select>
        </b-form-group>

        <b-form-group>
          <small>Каталог</small>
          <help content="Для выбора каталога, нажмите на поле ниже" placement="top" class="left-5"></help>
          <div class="clearfix"></div>
          <b-button-group class="w-100">
            <b-form-input readonly v-model="edit.dir" class="domain-select"></b-form-input>
            <b-button size="sm" @click="onModalDomain()">Обзор</b-button>
          </b-button-group>
        </b-form-group>

        <SwitchLine v-model="edit.enabled" label="Активен"></SwitchLine>

        <div class="pull-right">
          <b-button size="sm" @click="onAdd()">Новый</b-button>
          <b-button size="sm" variant="success" @click="onSave()" class="left-5">Сохранить</b-button>
        </div>
      </template>
    </Sidebar>

    <ModalDomains ref="domain" @selected="v=>edit.dir=v"></ModalDomains>
    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  import Select from '~/components/s-select';
  import ModalDomains from '~/components/modal/domains';
  import Sidebar from '~/components/sidebar';
  import {GenerateHash} from '~/plugins/libs';

  const userItem = {
    login: '',
    password: '',
    mode: 'r',
    dir: '%sitedir%',
    enabled: true
  };

  export default {
    data() {
      return {
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            login: {
              label: 'Логин'
            },
            password: {
              label: 'Пароль'
            },
            mode: {
              label: 'Права доступа'
            },
            dir: {
              label: 'Каталог'
            },
            actions: {
              label: ''
            }
          }
        },
        isEdit: false,
        edit: {},
        editIdx: 0,
        domains: []
      }
    },
    computed: {
      userList() {
        return this.table.list;
      },
      accessList() {
        return [
          {value: 'r', label: 'Только чтение'},
          {value: 'rw', label: 'Чтение и запись'}
        ]
      }
    },
    mounted() {
      this.getList();
      this.onAdd();
    },
    methods: {
      getList() {
        this.$ipc.once('ftp::getList:ok', (event, list) => {
          this.table.list = list;
        });
        this.$ipc.once('ftp::getList:error', () => {
        });
        this.$ipc.send('ftp::getList');
      },
      onGenPass() {
        if (!this.edit.hasOwnProperty('password')) {
          this.edit.password = '';
        }
        this.edit.password = GenerateHash(8);
      },
      onModalDomain() {
        this.$refs.domain.show();
      },
      onAdd(isShow = false) {
        this.isEdit = false;
        this.edit = Object.assign({}, userItem);
        if (isShow) {
          this.$refs.editBlock.show();
        }
      },
      onEdit(item, idx) {
        this.isEdit = true;
        this.edit = item;
        this.editIdx = idx;
        this.$refs.editBlock.show();
      },
      onSave() {
        if (!this.isEdit && (
          this.edit.login && this.edit.login.length > 0 &&
          this.edit.password && this.edit.password.length > 0
        )) {
          this.table.list.push(Object.assign({}, this.edit));
        }

        if (this.isEdit) {
          this.table.list[this.editIdx] = Object.assign({}, this.edit);
        }

        this.$ipc.once('ftp::save:ok', () => {
          this.$notify('success', 'Аккаунт успешно сохранен');
          this.getList();
          this.onAdd();
          this.$store.dispatch('RESTART_OS');
          this.$refs.editBlock.hide();
        });
        this.$ipc.once('ftp::save:error', () => {
        });
        this.$ipc.send('ftp::save', JSON.stringify({users: this.table.list}));
      },
      onRemove(item, idx) {
        this.$refs.confirm.open({
          handle: () => {
            this.table.list.splice(idx, 1);
          }
        });
      }
    },
    components: {
      Select,
      Sidebar,
      ModalDomains
    }
  }
</script>

<style scoped>
  .enabled {
    position: relative;
    top: 2px;
    right: 5px;
  }

  .enabled.on {
    color: #5cb85c;
  }

  .enabled.off {
    color: #f00;
  }

  .gen-password {
    position: relative;
  }

  .gen-password-btn {
    position: absolute;
    top: 24.5px;
    right: 4px;
  }

  .domain-select {
    cursor: pointer;
    outline: none;
  }

  .domain-select:focus {
    outline: none;
    border-color: #ced4da;
    box-shadow: none;
  }
</style>
