<template>
  <div>
    <b-row>
      <b-col>
        <b-card header="Нагрузка на CPU" class="bottom-15">
          <CpuLine :list="cpuList"></CpuLine>
        </b-card>

        <b-card header="Процесы Open Server" class="bottom-15" v-if="processes.isLaunch">
          <!--<s-alert>В разработке</s-alert>-->
          <ProcessList :list="processes.list"
                       :isLaunch="processes.isLaunch"
                       :isParent="true"/>
        </b-card>

        <s-alert variant="error" class="bottom-15" v-else>
          OpenServer выключен
        </s-alert>

      </b-col>

      <b-col cols="4">
        <b-card header="Память" class="bottom-15">
          <Memory v-model="ram"></Memory>
        </b-card>

        <b-card header="Информация о дисковом пространстве" class="bottom-15">
          <DriveItem v-for="(D,idx) in drives" :valueData="D" :key="idx" v-if="drives.length > 0"></DriveItem>
          <ContentLoader v-else></ContentLoader>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import Memory from '~/components/widget/memory';
  import CpuLine from '~/components/widget/cpu-line';
  import DriveItem from '~/components/widget/drive-item';
  import ProcessList from '~/components/process-list';
  import ContentLoader from '~/components/content-loader';

  export default {
    data() {
      return {
        cpuList: [],
        drives: [],
        processes: [],
        ram: 0
      }
    },
    mounted() {
      this.$faye.subscribe('system/*', (cn, n) => {
        let channel = cn.split('/').pop();

        switch (channel) {
          case 'cpu':
            this.cpuList = n.cores;
            break;

          case 'memory':
            this.ram = Number(n.usePercent.toFixed(2));
            break;

          case 'drives':
            this.drives = n;
            break;

          case 'processes':
            this.processes = n;
            this.$store.commit('SET_LAUNCH', n.isLaunch);
            break;
        }
      });
    },
    destroyed() {
      this.$faye.unsubscribe('system/*');
    },
    components: {
      CpuLine,
      DriveItem,
      Memory,
      ContentLoader,
      ProcessList
    }
  }
</script>
