<template>
  <div>

    <s-alert variant="primary" v-if="$store.state.logChannels.length === 0">
      У вас еще нет логов
    </s-alert>

    <b-tabs card v-else>
      <b-tab v-for="(cn, index) in $store.state.logChannels" :title="cn" :key="index">
        <LogArea :channel="cn" :ref="cn"></LogArea>
      </b-tab>
    </b-tabs>

  </div>
</template>

<script>
  import LogArea from '~/components/widget/LogArea.vue';

  export default {
    mounted() {
      this.$root.$emit('log::refresh');
    },
    components: {
      LogArea
    }
  }
</script>

<style scoped>
</style>
