<template>
  <div>
    <b-button-group class="w-100">
      <b-button size="sm" @click="getList()">
        <i class="fa fa-refresh"></i>
        Обновить список
      </b-button>

      <b-form-input size="sm" class="left-5 w-25 inline-block" placeholder="Фильтр" v-model="filter"></b-form-input>
    </b-button-group>

    <div class="clearfix"></div>

    <b-table striped hover :items="baseList" :fields="table.fields" class="top-15">

      <template slot="HEAD_name" slot-scope="data">
        <div class="text-left d-inline-block">
          {{data.label}}
        </div>
      </template>

      <template slot="HEAD_actions" slot-scope="data">
        <div class="text-right d-inline-block" style="float: right;">
          Пользовательских баз
          <b-badge>{{baseCount}}</b-badge>
        </div>
      </template>
      <template slot="actions" slot-scope="data">
        <div class="actions">

          <help :target="`b-${data.index}`" placement="left" content="Сделать бэкап">
            <b-button size="sm" :id="`b-${data.index}`" slot="ico" @click="onBackup(data.item)">
              <i class="fa fa-download"></i>
            </b-button>
          </help>

          <help :target="`br-${data.index}`" placement="left" content="Открыть в PhpMyAdmin">
            <b-button size="sm" class="left-5" :id="`br-${data.index}`" slot="ico" @click="openPMA(data.item)">
              <i class="fa fa-globe"></i>
            </b-button>
          </help>

          <b-button size="sm" variant="danger" class="left-5" @click="onRemove(data.item)">
            <i class="fa fa-trash"></i>
          </b-button>

        </div>
      </template>
    </b-table>

    <div>
      <b-pagination size="sm"
                    :total-rows="baseList.length"
                    :per-page="table.perPage"
                    v-model="table.currentPage"
                    v-if="baseList.length > table.perPage"/>
    </div>

  </div>
</template>

<script>
  const {param} = require('~/plugins/libs');

  export default {
    data() {
      return {
        isRename: false,
        filter: '',
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название базы'
            },
            actions: {
              label: ''
            }
          }
        }
      }
    },
    computed: {
      baseList() {
        return this.table.list.filter(item => {
          return String(item.name).includes(this.filter);
        });
      },
      baseCount() {
        return this.table.list.length;
      },
      iActiveModule() {
        return Boolean(this.$store.state.ENV.ACTIVE_MODULE[`mysql_driver`.toUpperCase()]);
      }
    },
    watch: {
      iActiveModule(val) {
        if (!val) {
          this.$router.push('/');
        }
      }
    },
    mounted() {
      this.getList();
    },
    methods: {
      getList() {
        this.$ipc.once('mysql::getList:ok', (event, list) => {
          this.table.list = list;
        });
        this.$ipc.send('mysql::getList');
      },
      onBackup(item) {
        if (String(this.$store.state.ENV.BACKUP_DIR).length === 0) {
          return this.$notify('error', 'Не указан каталог для бэкапов');
        }
        this.$ipc.once('backups::create:ok', () => {
          this.$notify('success', 'Задание поставлено в очередь на обработку');
        });
        this.$ipc.once('backups::create:error', () => {
          this.$notify('error', 'Проверьте подключение к серверу MySQL');
        });
        this.$ipc.send('backups::create', JSON.stringify({root: this.www, name: item.name, type: 'mysql'}));
      },
      openPMA(item) {
        this.$ipc.send('open:link', `http://localhost/openserver/phpmyadmin/index.php` + param({
          server: 1,
          db: item.name
          // ,
          // token: GenerateHash(32)
        }));
      }
    }
  }
</script>

<style scoped>
</style>
