<template>
  <div>

    <b-button size="sm" variant="success" @click="onAdd()">
      <i class="fa fa-plus"></i> Добавить приложение
    </b-button>
    <div class="ckearfix"></div>


    <Sidebar ref="pm2config" width="500">
      <template slot="body">
        <PM2 @addList="onAddList"></PM2>
      </template>

      <template slot="footer">
        <div class="pull-right">
          <b-button size="sm" @click="$refs.pm2config.hide()">Отмена</b-button>
          <b-button size="sm" variant="success" class="left-5" @click="onSave()">Сохранить</b-button>
        </div>
      </template>
    </Sidebar>
  </div>
</template>

<script>
  import PM2 from '~/components/pm2/index';

  export default {
    data() {
      return {
        apps: []
      }
    },
    mounted() {
      this.onAdd();
    },
    methods: {
      onAdd() {
        if (this.$refs.pm2config) {
          this.$refs.pm2config.show();
        }
      },
      onAddList(app) {
        this.apps.push(app);
      },
      onSave() {
      }
    },
    components: {
      PM2
    }
  }
</script>

<style scoped>
</style>
