<template>
  <div>
    <s-alert>
      Функционал работает в тестовом режиме, пока только простое логирование запросов
    </s-alert>
    <b-tabs card>
      <b-tab title="Лог" ref="logList">
        <ProxyLineItem v-for="(L,idx) in list" @fd="onFocus" :item="L" :key="idx"></ProxyLineItem>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
  import ProxyLineItem from '~/components/ProxyLineItem';

  export default {
    data() {
      return {
        isScroll: true,
        list: []
      }
    },
    created() {
      this.$faye.subscribe('proxy-log', (args) => {
        if (this.list.length > 500) {
          this.list.splice(0, 1)
        }
        this.list.push(args);
        if (this.isScroll) {
          let el = document.querySelector('.main-content');
          el.scrollTop = el.scrollHeight;
        }
      });
    },
    methods: {
      onFocus(v) {
        this.isScroll = v;
      }
    },
    destroyed() {
      this.$faye.unsubscribe('proxy-log');
    },
    components: {
      ProxyLineItem
    }
  }
</script>

<style scoped>
</style>
