<template>
  <div>

    <s-alert variant="error" v-if="osAlert">
      Укажите расположение Open Server <br>
      <b><a href="#" @click="scrollTo('osDir')">Указать</a></b>
    </s-alert>

    <s-alert variant="error" v-if="wwwAlert">
      Укажите каталог доменов <br>
      <b><a href="#" @click="scrollTo('wwwDir', 1)">Указать</a></b>
    </s-alert>

    <s-alert variant="error" v-if="backupAlert">
      Укажите каталог для бэкапов <br>
      <b><a href="#" @click="scrollTo('backupDir', 2)">Указать</a></b>
    </s-alert>

    <b-tabs card v-model="tabIdx">

      <b-tab title="Основные">

        <b-row>

          <b-col>
            <b-card header="Профиле-независимые настройки">
              <div class="form-horizontal">
                <SwitchLine v-model="settings.general.autostart" label="Автозапуск севрера"></SwitchLine>

                <b-form-group>
                  <small>Задержка (сек)</small>
                  <b-form-input class="w-25" v-model="settings.general.wait" type="number"></b-form-input>
                </b-form-group>

                <div class="clearfix top-15"></div>

                <!--<SwitchLine v-model="settings.general.whithWin" label="Запускать вместе с Windows"></SwitchLine>-->
                <SwitchLine v-model="settings.general.checkupdate" label="Проверять новые версии сервера"></SwitchLine>
                <SwitchLine v-model="settings.general.checkupdatePanel"
                            label="Проверять новые версии панели управления"></SwitchLine>
                <SwitchLine v-model="settings.general.clearlogs" label="Очищать логи при запуске сервера"></SwitchLine>
              </div>
            </b-card>

            <b-card header="Расположение Open Server" class="top-15">
              <b-form-group>
                <small>Каталог сервера</small>
                <div class="clearfix"></div>
                <b-button-group class="w-100">
                  <b-form-input ref="osDir" v-model="settings.OS.dir" readonly
                                :class="{'is-invalid': osAlert}"
                                placeholder="c:\open-server"></b-form-input>
                  <b-button size="small" @click="osPath()">Обзор</b-button>
                </b-button-group>

              </b-form-group>

              <b-form-group>
                <small>Исполняемый файл</small>
                <div class="clearfix"></div>
                <b-button-group class="w-100">
                  <b-form-input v-model="settings.OS.file" readonly :class="{'is-invalid': osAlert}"></b-form-input>
                  <b-button size="small" @click="osFile()">Обзор</b-button>
                </b-button-group>
              </b-form-group>
            </b-card>
          </b-col>

          <b-col>
            <b-card header="Настройки приложения">
              <!--<b-form-group>-->
              <!--<SwitchLine v-model="settings.app.nativeNotify" label="Использовать Windows уедомления"></SwitchLine>-->
              <!--</b-form-group>-->
              <b-form-group>
                <SwitchLine v-model="settings.app.closeInTray" label="При закрытии сворачивать в трей"></SwitchLine>
              </b-form-group>

            </b-card>

            <b-card header="Программы" class="top-15">

              <b-form-group>
                <small>Открывать веб-страницы в указанном браузере</small>
                <div class="clearfix"></div>
                <b-button-group class="w-100">
                  <b-form-input v-model="settings.sysSoft.browser" readonly></b-form-input>
                  <b-button size="small" @click="setSoftPath('browser')">Обзор</b-button>
                </b-button-group>
              </b-form-group>

              <b-form-group>
                <small>Открывать файлы конфгурации в указанном текстовом редакторе</small>
                <div class="clearfix"></div>
                <b-button-group class="w-100">
                  <b-form-input v-model="settings.sysSoft.logs" readonly></b-form-input>
                  <b-button size="small" @click="setSoftPath('logs')">Обзор</b-button>
                </b-button-group>
              </b-form-group>

            </b-card>
          </b-col>
        </b-row>

      </b-tab>

      <b-tab title="Сервер">
        <b-row>
          <b-col cols="5">
            <b-card header="FTP Сервер" class="bottom-15">
              <b-form-group horizontal :label-cols="6" label-size="sm" label="Таймаут подключения">
                <b-form-input size="sm" v-model="settings.server.ftp.connecttimeout"></b-form-input>
              </b-form-group>

              <b-form-group horizontal :label-cols="6" label-size="sm" label="Таймаут бездействия">
                <b-form-input size="sm" v-model="settings.server.ftp.commandtimeout"></b-form-input>
              </b-form-group>

              <SwitchLine v-model="settings.server.ftp.isStartServer" label="Запускать сервер"></SwitchLine>
            </b-card>

            <b-card header="Базы данных" class="bottom-15">
              <b-form-group>
                <small>ROOT пароль от MySQL</small>
                <b-form-input size="sm" v-model.trim="settings.server.mysql.rootPassword"></b-form-input>
              </b-form-group>

              <!--<b-form-group>-->
              <!--<small>Пароль от PostgreSQL</small>-->
              <!--<b-form-input size="sm" v-model.trim="settings.server.postgres.rootPassword"></b-form-input>-->
              <!--</b-form-group>-->

            </b-card>

            <b-card header="Proxy сервер" class="bottom-15">
              <b-form-group>
                <small>Порт</small>
                <b-form-input size="sm" type="number" v-model.trim="settings.server.proxy.port"></b-form-input>
              </b-form-group>

              <SwitchLine v-model="settings.server.proxy.autoOn" label="Запускать автоматически"></SwitchLine>
              <SwitchLine v-model="settings.server.proxy.logOn" label="Включить логирование зарпосов"></SwitchLine>
            </b-card>

            <b-card header="Порты" class="bottom-15">
              <b-form-group v-for="(v, k, idx) in settings.server.ports" horizontal :label-cols="6" label-size="sm"
                            :label="k"
                            :key="idx">
                <b-form-input type="number" size="sm" v-model.number="settings.server.ports[k]"></b-form-input>
              </b-form-group>
            </b-card>

          </b-col>

          <b-col>
            <b-card header="Параметры" class="bottom-15">
              <b-form-group>
                <small>Корневой каталог доменов</small>
                <help content="Укажите каталог, где лежат ваши сайты" placement="right" class="left-5"></help>
                <div class="clearfix"></div>
                <b-button-group class="w-100">
                  <b-form-input ref="wwwDir" readonly v-model="settings.OS.www"
                                :class="{'is-invalid': wwwAlert}"
                                placeholder="c:\open-server\domains"></b-form-input>
                  <b-button size="small" @click="wwwPath()">Обзор</b-button>
                </b-button-group>
              </b-form-group>

              <SwitchLine v-model="settings.server.debugmode"
                          label="Запускать сервер в отладочном режиме"></SwitchLine>
              <SwitchLine v-model="settings.server.astart" label="Запускать сервер в агресивном режиме"></SwitchLine>
              <SwitchLine v-model="settings.server.selfhosts" label="Не вносить изменения в HOSTS"></SwitchLine>
              <SwitchLine v-model="settings.server.allow" label="Защитить сервер от внешнего доступа"></SwitchLine>
            </b-card>

            <b-card header="Кодировки" class="bottom-15">
              <Select :options="httpCharset" v-model="settings.server.charset.http"></Select>

              <s-alert class="top-10">
                <small>
                  Ответ сервера без указания кодировки: [Content-Type: text/html]<br>
                  Ответ сервера с указанием кодировки:
                  [Content-Type: text/html; charset=UTF=8]<br>
                  По умолчанию значение параметра - <b>Не задано</b> (рекомендуется)
                </small>
              </s-alert>

              <Select :options="mysqlCharset" v-model="settings.server.charset.mysql"></Select>

              <s-alert class="top-10">
                <small>
                  Кодировка по умолчанию для создаваемых таблиц и баз данных, запросов и ответов MySQL сервера<br>
                  По умолчанию значение параметра - <b>utf8_general_ci</b> (рекомендуется)
                </small>
              </s-alert>
            </b-card>

            <!--<b-card header="DNS server" class="bottom-15">-->
            <!--</b-card>-->

            <!--<b-card header="IP-адрес сервера" class="bottom-15">-->
            <!--</b-card>-->

            <!--<b-card header="Настройка использования переменной PATH" class="bottom-15">-->
            <!--</b-card>-->
          </b-col>

        </b-row>
      </b-tab>

      <!--<b-tab title="Модули">-->
      <!--<s-alert>В разработке</s-alert>-->
      <!--&lt;!&ndash;<s-alert variant="info">&ndash;&gt;-->
      <!--&lt;!&ndash;Внимание! Файлы конфигурации индивидуальны для каждого модуля. Будьте внимательны при переключении версий&ndash;&gt;-->
      <!--&lt;!&ndash;модулей и отдельно редактируйте настройки каждого из них.&ndash;&gt;-->
      <!--&lt;!&ndash;</s-alert>&ndash;&gt;-->

      <!--&lt;!&ndash;<b-row>&ndash;&gt;-->
      <!--&lt;!&ndash;<b-col>&ndash;&gt;-->
      <!--&lt;!&ndash;<ModuleBlock header="HTTP"></ModuleBlock>&ndash;&gt;-->

      <!--&lt;!&ndash;<ModuleBlock header="PHP"></ModuleBlock>&ndash;&gt;-->

      <!--&lt;!&ndash;<ModuleBlock header="MySQL / MariaDB"></ModuleBlock>&ndash;&gt;-->

      <!--&lt;!&ndash;<ModuleBlock header="PostgresSQL"></ModuleBlock>&ndash;&gt;-->
      <!--&lt;!&ndash;</b-col>&ndash;&gt;-->

      <!--&lt;!&ndash;<b-col>&ndash;&gt;-->
      <!--&lt;!&ndash;<ModuleBlock header="MongoDB"></ModuleBlock>&ndash;&gt;-->
      <!--&lt;!&ndash;<ModuleBlock header="Memcached"></ModuleBlock>&ndash;&gt;-->
      <!--&lt;!&ndash;<ModuleBlock header="Redis"></ModuleBlock>&ndash;&gt;-->
      <!--&lt;!&ndash;<ModuleBlock header="DNS"></ModuleBlock>&ndash;&gt;-->
      <!--&lt;!&ndash;</b-col>&ndash;&gt;-->
      <!--&lt;!&ndash;</b-row>&ndash;&gt;-->

      <!--</b-tab>-->

      <b-tab title="Бэкапы">
        <b-row>
          <b-col>
            <b-form-group>
              <small>Хранить архивы (дней)</small>
              <b-form-input v-model="settings.sys.liveTime" type="number" class="w-25"></b-form-input>
            </b-form-group>
          </b-col>

          <b-col>
            <b-form-group>
              <small>Каталог бэкапов</small>
              <div class="clearfix"></div>
              <b-button-group class="w-100">
                <b-form-input ref="backupDir" readonly v-model="settings.sys.backupDir"
                              :class="{'is-invalid': backupAlert}"
                              placeholder="c:\backup-dir"></b-form-input>
                <b-button size="small" @click="backupPath()">Обзор</b-button>
              </b-button-group>
            </b-form-group>
          </b-col>

        </b-row>
      </b-tab>

      <b-tab title="Переменные среды">
        <b-row>
          <b-col>
            <EnvBlock ref="path" onlyvalue v-model="pathEnv"></EnvBlock>
          </b-col>
          <b-col cols="7">
            <EnvBlock ref="env" v-model="env"></EnvBlock>
          </b-col>
        </b-row>
      </b-tab>
    </b-tabs>

    <SubmitPane>
      <b-button size="sm" variant="success" @click="onSave()">Сохранить</b-button>
      <div class="d-inline-block left-20">
        <span>Профиль</span>
        <help class="left-5"
              content="После указания расположения каталога OpenServer, в списке будут отображаться все доступные профили"
              v-if="profilesOptions.length <= 1"></help>
        <Select :options="profilesOptions"
                :minWidth="160"
                v-model="profile" class="d-inline-block left-5"></Select>
      </div>

      <SwitchLine v-model="restartOS" label="Перезапустить OpenServer" class="d-inline-block left-20"></SwitchLine>
    </SubmitPane>

  </div>
</template>

<script>
  import ModuleBlock from '~/components/setting/module-block';
  import EnvBlock from '~/components/setting/env-block';
  import Select from '~/components/s-select';
  import SubmitPane from '~/components/submit-pane';
  import httpCharsetData from '~/store/data/http-carset.json';
  import mysqlCharsetData from '~/store/data/mysql-carset.json';

  export default {
    data() {
      return {
        tabIdx: 0,
        loading: true,
        restartOS: false,
        env: [],
        pathEnv: [],
        profile: 'Default',
        profiles: ['Default']
      }
    },
    computed: {
      profilesOptions() {
        return this.profiles.map(item => {
          return {value: item, label: item}
        });
      },
      settings() {
        return this.$store.state.settings;
      },
      httpCharset() {
        let arr = [{value: 'notset', label: 'Не задано'}];
        httpCharsetData.forEach(item => {
          arr.push({value: item, label: item});
        });
        return arr;
      },
      mysqlCharset() {
        let arr = [{value: 'notset', label: 'Не задано'}];
        mysqlCharsetData.forEach(item => {
          arr.push({value: item, label: item});
        });
        return arr;
      },
      osAlert() {
        if (this.loading) {
          return false;
        }
        return String(this.settings.OS.dir).length < 5 || String(this.settings.OS.file).length < 5;
      },
      wwwAlert() {
        if (this.loading) {
          return false;
        }
        return String(this.settings.OS.www).length < 5;
      },
      backupAlert() {
        if (this.loading) {
          return false;
        }
        return String(this.settings.sys.backupDir).length < 5;
      }
    },
    mounted() {
      this.getData();
    },
    methods: {
      getData() {
        this.$ipc.once('load-setting', (event, data) => {
          this.profile = data.profile;
          this.profiles = data.profiles || ['Default'];
          this.$store.commit('SET_SETTING', data.settings);
          this.loading = false;
        });
        this.$ipc.once('load-env::data:path', (event, list) => {
          if (Array.isArray(list) && list.length > 0) {
            this.$refs.path.setData(list);
          }
        });
        this.$ipc.once('load-env::data:user', (event, list) => {
          if (Array.isArray(list) && list.length > 0) {
            this.$refs.env.setData(list);
          }
        });
        this.$ipc.send('load-setting');
        this.$ipc.send('load-env', 'path');
        this.$ipc.send('load-env', 'user');
      },
      onSave() {
        let data = {
          profile: this.profile,
          restartOS: this.restartOS,
          settings: this.settings
        };
        this.$ipc.send('save-setting', JSON.stringify(data));
        this.$ipc.once('save-setting::ok', () => {
          this.$notify('success', `Настройки для профиля <b>${this.profile}</b> успешно сохранены`);
          if (this.restartOS) {
            this.$store.dispatch('RESTART_OS');
          }
          this.$store.commit('SET_SETTING', data.settings);
          this.restartOS = false;
          this.getData();
        });
        this.$ipc.once('save-setting::error', () => {
          this.$notify('error', 'Настройки сохранить не удалось');
        });
        this.$ipc.send('save-env', JSON.stringify({name: 'user', data: this.env}));
        this.$ipc.send('save-env', JSON.stringify({name: 'path', data: this.pathEnv}));
      },
      osPath() {
        this.$dialog.selectDirectory((path) => {
          if (path) {
            this.settings.OS.dir = path;
          }
        });
      },
      osFile() {
        this.$dialog.selectFile([
          {name: 'Исполняемый файл', extensions: ['exe']}
        ], (path) => {
          if (path) {
            this.settings.OS.file = path;
          }
        });
      },
      wwwPath() {
        this.$dialog.selectDirectory((path) => {
          if (path) {
            this.settings.OS.www = path;
          }
        });
      },
      backupPath() {
        this.$dialog.selectDirectory((path) => {
          if (path) {
            this.settings.sys.backupDir = path;
          }
        });
      },
      setSoftPath(type) {
        this.$dialog.selectPath([
          {name: 'Исполняемый файл', extensions: ['exe']}
        ], (path) => {
          if (path) {
            this.settings.sysSoft[type] = path;
          }
        });
      },
      scrollTo(el, tabIdx = 0) {
        this.tabIdx = tabIdx;
        this.$refs[el].$el.scrollIntoView();
      }
    },
    components: {
      ModuleBlock,
      EnvBlock,
      SubmitPane,
      Select
    }
  }
</script>

<style scoped>
</style>
