<template>
  <div>
    <b-tabs>

      <b-tab title="Подключения">
        <b-button-group class="top-15 w-100">
          <b-button size="sm" variant="success" @click="onAddConnection">
            <i class="fa fa-plus"></i>
            Создать
          </b-button>

          <b-button size="sm" @click="onGetConnection">
            <i class="fa fa-refresh"></i>
            Обновить список
          </b-button>
        </b-button-group>
        <div class="clearfix"></div>

        <b-table striped hover :items="connectionList" :fields="table.fields" class="top-15">

          <template slot="HEAD_actions" slot-scope="data"></template>
          <template slot="actions" slot-scope="data">
            <div class="actions">

              <!--<help :target="`b-${data.index}`" placement="left" content="Открыть в терминале">-->
              <!--<b-button size="sm" slot="ico" class="terminal"-->
              <!--:id="`b-${data.index}`"-->
              <!--@click="openTerminal(data.item)">-->
              <!--<span class="fa-stack fa-sm">-->
              <!--<i class="fa fa-square fa-stack-2x"></i>-->
              <!--<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>-->
              <!--</span>-->
              <!--</b-button>-->
              <!--</help>-->

              <help :target="`bp-${data.index}`" placement="left" content="Открыть в терминале Putty">
                <b-button size="sm" slot="ico" class="terminal"
                          :id="`bp-${data.index}`"
                          @click="openPuttyTerminal(data.item)">
                  <span class="fa-stack fa-sm">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                  </span>
                </b-button>
              </help>

              <b-button size="sm" class="left-5" @click="$refs.connection.onEdit(data.item)">
                <i class="fa fa-pencil"></i>
              </b-button>

              <b-button size="sm" variant="danger" class="left-5" @click="onRemoveConnection(data.item)">
                <i class="fa fa-trash"></i>
              </b-button>

            </div>
          </template>
        </b-table>

      </b-tab>

      <b-tab class="top-15" title="Ключи">

        <b-button-group class="top-15 w-100">
          <b-button size="sm" variant="success" @click="$refs.keys.show()">
            <i class="fa fa-plus"></i>
            Создать
          </b-button>

          <b-button size="sm">
            <i class="fa fa-refresh"></i>
            Обновить список
          </b-button>
        </b-button-group>

        <div class="clearfix"></div>

        <b-table striped hover :items="keysList" :fields="table.fields" class="top-15">

          <template slot="HEAD_actions" slot-scope="data"></template>
          <template slot="actions" slot-scope="data">
            <div class="actions">

              <b-button size="sm" class="left-5" @click="$refs.keys.onEdit(data.item)">
                <i class="fa fa-pencil"></i>
              </b-button>

              <b-button size="sm" variant="danger" class="left-5" @click="onRemoveKey(data.item)">
                <i class="fa fa-trash"></i>
              </b-button>

            </div>
          </template>
        </b-table>
      </b-tab>

    </b-tabs>

    <Connection :keys="keys" ref="connection" @saved="onGetConnection()"></Connection>
    <Key ref="keys" @saved="onGetKeys()"></Key>

    <confirm-modal ref="confirm"></confirm-modal>
  </div>
</template>

<script>
  import Connection from '~/components/modal/connection';
  import Key from '~/components/modal/key';

  export default {
    data() {
      return {
        filter: '',
        table: {
          list: [],
          currentPage: 1,
          perPage: 100,
          fields: {
            name: {
              label: 'Название соединения'
            },
            actions: {
              label: ''
            }
          }
        },
        connections: [],
        keys: []
      }
    },
    computed: {
      connectionList() {
        return this.connections;
      },
      keysList() {
        return this.keys;
      }
    },
    mounted() {
      this.onGetConnection();
      this.onGetKeys();
    },
    methods: {
      onGetKeys() {
        this.$refs.keys.hide();
        this.$ipc.once('ssh::getKeys:ok', (event, list) => {
          this.keys = list;
        });
        this.$ipc.send('ssh::getKeys');
      },
      onRemoveKey(item) {
        this.$ipc.once('ssh::removeKey:ok', () => this.onGetKeys());
        this.$ipc.send('ssh::removeKey', item.name);
      },
      onAddConnection() {
        this.$refs.connection.show();
      },
      onGetConnection() {
        this.$ipc.once('ssh::getConnections:ok', (event, list) => {
          this.connections = list;
        });
        this.$ipc.send('ssh::getConnections');
      },
      onRemoveConnection(item) {
        this.$refs.confirm.open({
          handle: () => {
            this.$ipc.once('ssh::removeConnection:ok', () => this.onGetConnection());
            this.$ipc.send('ssh::removeConnection', item.id);
          }
        });
      },
      openTerminal(item) {
        this.$root.$emit('terminal::open', item);
      },
      openPuttyTerminal(item) {
        this.$ipc.send('openPuttyTerminal', item.id);
      }
    },
    components: {
      Connection,
      Key
    }
  }
</script>

<style scoped>
  button.terminal {
    padding: 0;
  }

  button.terminal .fa-stack-2x {
    font-size: 19px;
    margin: 1px 0 0 0;
  }

  .fa-stack {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
</style>
