<template>
  <div></div>
</template>

<script>
  // https://github.com/Ink0gnit0/ospanel-ssl-generator
  // https://ospanel.io/forum/viewtopic.php?f=4&t=2420&start=10#p22017
  export default {}
</script>

<style scoped>
</style>
